@model prjMusicBetter.Models.TCoupon

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout2";
}
@* ================================================================== *@
<main id="main" class="main">
    <!-- 其他內容... -->
    <div class="pagetitle">
        <h1>刪除優惠券</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                      
                        <div class="datatable-container">
                            <table class="table">
                                <!-- 表格標題和內容... -->
                                <div>
                                    <hr />
                                    <dl class="row">
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.FCouponContent)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.FCouponContent)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.FCouponCode)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.FCouponCode)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.FDescription)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.FDescription)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.FStartdate)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.FStartdate)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.FEnddate)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.FEnddate)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.FPicture)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.FPicture)
                                        </dd>
                                    </dl>
                                    <form asp-action="Delete">
                                        <input type="hidden" asp-for="FCouponId" />
                                        <input type="submit" value="Delete" class="btn btn-danger" onclick="confirmDelete"/> |
                                        <a asp-action="Index" class="btn btn-primary">首頁</a>
                                    </form>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


@* ================================================================== *@

<script>
    function confirmDelete() {
        return confirm('確定要刪除嗎嗎？');
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}