@model prjMusicBetter.Models.TCoupon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TCoupon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FCouponContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FCouponContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FCouponCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FCouponCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FStartdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FStartdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FEnddate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FEnddate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPicture)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FCouponId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
