@model IEnumerable<prjMusicBetter.Models.TCoupon>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout2";
}


<style>
    /* 添加这段CSS来指定图片的固定宽度和高度 */
    #img1 {
        width: 100px; /* 设置图片宽度 */
        height: 100px; /* 设置图片高度 */
        display: block;
        margin: 0 auto;
    }
    /* 为整个内容区域添加左边距 */
    .main-content {
        padding-left: 30rem; /* 根据侧边栏宽度调整 */
    }

</style>

<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


<main id="main" class="main">
    <h1 class="text-3xl font-bold text-center my-4">優惠券管理</h1>

    <div class="d-flex align-items-center gap-2">
        @Html.ActionLink("新增優惠券", "create", "TCoupons", "", new { @class = "btn btn-dark" })
    </div>
    <div class="flex justify-end items-center">
        <form asp-action="Index" method="get">
            <div class="form-group d-flex align-items-center">
                <label for="search" class="">搜尋關鍵字:</label>
                <input type="text" class="form-control" id="search" name="search" placeholder="請輸入關鍵字" value="@ViewData["CurrentFilter"]" />
                <button type="submit" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded ml-2">搜尋</button>
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="py-3 px-6 text-center">
                    圖片名稱
                </th>
                <th class="py-3 px-6 text-center">
                    優惠內容
                </th>

                <th class="py-3 px-6 text-center">
                    優惠代碼
                </th>
                <th class="py-3 px-6 text-center">
                    優惠描述
                </th>
                <th class="py-3 px-6 text-center">
                    開始日
                </th>
                <th class="py-3 px-6 text-center">
                    結束日期
                </th>
                <th class="py-3 px-6 text-center font-bold">
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="truncate-text">
                            @if (!string.IsNullOrEmpty(item.FPicture))
                            {
                                <img src="@Url.Content("~/img/Coolpon/" + item.FPicture)" alt="Coupon Image" class="rounded-full mx-auto" id="img1" />

                            }
                            else
                            {
                                @:No Image
                            }
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FCouponContent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FCouponCode)
                    </td>
                    <td>
                        <div class="truncate-text">
                            @Html.DisplayFor(modelItem => item.FDescription)
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FStartdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FEnddate)
                    </td>
                    
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.FCouponId" class="text-lg bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-700">修改</a>
                        @* <a asp-action="Details" asp-route-id="@item.FMemberId">細節</a> | *@
                        <a asp-action="Delete" asp-route-id="@item.FCouponId" class="text-lg bg-red-500 text-white px-3 py-1 rounded hover:bg-red-700 ml-2">刪除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#searchButton").click(function () {
                var searchText = $("#searchText").val();
                $.ajax({
                    url: '@Url.Action("GetCoupons", "TCoupons")',
                    type: 'GET',
                    data: { search: searchText },
                    success: function (data) {
                        // 處理返回的數據
                        console.log(data);
                        // 例如，更新表格
                    },
                    error: function (error) {
                        // 處理錯誤
                        console.error("錯誤: ", error);
                    }
                });
            });
        });
    </script>
}

