@model IEnumerable<prjMusicBetter.Models.TCoupon>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout2";
}
<main id="main" class="main">
    <!-- 其他內容... -->
    <div class="pagetitle">
       
        <p>
            <button onclick="location.href='@Url.Action("Create", "TCoupons")'" class="btn btn-primary">新增優惠券</button>
        </p>

        <h1>優惠券清單</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                     
                        <div class="datatable-container">
                            <table class="table">
                                <!-- 表格標題和內容... -->
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FCouponContent)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FCouponCode)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FDescription)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FStartdate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FEnddate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FPicture)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FCouponContent)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FCouponCode)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FDescription)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FStartdate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FEnddate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FPicture)
                                                </td>
                                                <td>
                                                    <a asp-action="Edit" asp-route-id="@item.FCouponId">Edit</a> |
                                                    <a asp-action="Details" asp-route-id="@item.FCouponId">Details</a> |
                                                    <a asp-action="Delete" asp-route-id="@item.FCouponId">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </table>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
