@model prjMusicBetter.Models.TComment

@{
    ViewData["Title"] = "Edit";
}

<h1>修改留言</h1>

<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="Edit" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group" >
                                <input type="hidden" asp-for="FMemberId" class="form-control" />
                                <span asp-validation-for="FMemberId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="hidden" asp-for="FArticleId" class="form-control" />
                                <span asp-validation-for="FArticleId" class="text-danger"></span>
                            </div>

                            
                            <div class="form-group">
                                <label asp-for="FCommentContent" class="control-label">編輯留言</label>
                                <input asp-for="FCommentContent" class="form-control" />
                                <span asp-validation-for="FCommentContent" class="text-danger"></span>
                            </div>



@*                             <div class="form-group">
                                <input type="submit" value="儲存" class="btn btn-primary" onclick="confirmEdit"  /> |
                                <a asp-action="List" class="btn btn-secondary">取消/回列表</a>
                            </div> *@

                            <div class="text-right">
                                <a href="@Url.Action("List","Comment")" type="button" class="btn btn-secondary">取消/回到列表</a>
                                <button type="button" class="btn btn-success" id="buttonSend">確認修改</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

    </div>
</div>

<script>



    // $('#buttonSend').click(function () {
    //     $.ajax({
    //         url: '/Comment/Edit',
    //         type: 'POST',
    //         data:
    //         {
    //             fMemberId: $('#fMemberId').val(),
    //             fArticleId: $('#fArticleId').val(),
    //             fCommentContent: $('#fCommentContent').val(),
    //         },
    //     }).done(function (data) {
    //         alert("修改成功")
    //         location.href = "@Url.Action("List", "Comment")"

    //     }).fail(function (jqXHR, textStatus, errorThrown) {
    //         console.log("POST request failed: " + textStatus + ", " + errorThrown);
    //         alert("修改失敗");
    //         location.href = "@Url.Action("List", "Comment")"
    //     });
    // });

    // function confirmEdit() {
    //     return confirm('確定要修改好了嗎？');
    // }


    $('#buttonSend').click(function () {
        var commentData = {
            fCommentID: $('#fCommentId').val(),
            fMemberId: $('#fMemberId').val(),
            fArticleId: $('#fArticleId').val(),
            fCommentContent: $('#fCommentContent').val(),
            fCommentTime: new Date().toISOString()
        };

        $.ajax({
            url: '/Comment/Edit',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(commentData),
        }).done(function (data) {
            alert("修改成功");
            location.href = "@Url.Action("List", "Comment")";
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log("POST request failed: " + textStatus + ", " + errorThrown);
            alert("修改失敗");
            location.href = "@Url.Action("List", "Comment")";
        });
    });


</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}