@model prjMusicBetter.Models.ViewModels.CommentListViewModel
@{
    ViewBag.Title = "留言板";
}



<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                文章ID
            </th>
            <th>
                會員名稱
            </th>
            <th>
                留言內容
            </th>
            <th>
                留言時間
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @for (var index = 0; index < Model.Comments.Count; index++)
        {
            <tr>
                <td>
                    @(index + 1)
                </td>
                <td>
                    
                </td>
                <td>
                    @Model.Comments[index].FMember.FName
                </td>
                <td>
                    @Model.Comments[index].FCommentContent
                </td>
                <td>
                    @Model.Comments[index].FCommentTime.Value.ToString("yyyy/MM/dd HH:mm")
                </td>
                <td>
                </td>
                <td>
@*                     @Html.ActionLink("修改", "Edit", "Comment", new { id = Model.Comments[index].FCommentId }, null) | *@
                    @Html.ActionLink("刪除", "Delete", "Comment", new { id = Model.Comments[index].FCommentId },
                             new { onclick = "return confirm('確定要刪除嗎?')" })
                </td>
            </tr>
        }
    </tbody>
   
</table>



<a href="@Url.Action("Create","Comment")"><button class="btn btn-primary" type="button">加入留言</button></a>




<script>

   


</script>