@model prjMusicBetter.Models.ViewModels.CommentListViewModel
@{
    ViewBag.Title = "留言板";
}

<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @* 會員名稱 *@
            </th>
            <th>
                留言內容
            </th>
            <th>
                留言時間
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @for (var index = 0; index < Model.Comments.Count; index++)
        {
            <tr>
                <td>
                    @(index + 1)
                </td>
                <td>
                    @* @Model.Comments[index].FMember.FName *@
                </td>
                <td>
                    @Model.Comments[index].FCommentContent
                </td>
                <td>
                    @Model.Comments[index].FCommentTime.Value.ToString("yyyy/MM/dd HH:mm")
                </td>
                <td>
                </td>
                <td>
                    @Html.ActionLink("修改", "Edit", "Comment", new { id = Model.Comments[index].FCommentId }, null) |
                    @Html.ActionLink("刪除", "Delete", "Comment", new { id = Model.Comments[index].FCommentId },
                             new { onclick = "return confirm('確定要刪除嗎?')" })
                </td>
            </tr>
        }
    </tbody>
    @*     <tbody>
    <tr>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>
    </td>
    <td>
    </td>
    </tr>

    </tbody> *@
</table>

<a href="@Url.Action("Create","Comment")"><button class="btn btn-primary" type="button">留言</button></a>


@* <table>
    <tr>
        <td>
            <div class="d-flex flex-row align-items-center mb-4">
                <div class="form-outline flex-fill mb-0">
                    <label class="form-label" for="form3Example3c">留言內容</label>
                    <textarea class="form-control mb-3" placeholder="Leave a comment here" id="fCommentContent" style="height: 100px"></textarea>

                </div>
            </div>
        </td>
        <td>
            <div class="text-right">
                <a href="@Url.Action("List","Comment")" type="button" class="btn btn-secondary">取消</a>
                <button type="button" class="btn btn-success" id="buttonSend">確認建立</button>
            </div>
        </td>
    </tr>
</table> *@
<script>

</script>