@{
    ViewData["Title"] = "Create";
}
<!-- 在<body>標籤內引入CKEditor 5腳本 -->
<script src="https://cdn.ckeditor.com/ckeditor5/40.1.0/classic/ckeditor.js"></script>
<input type="hidden" id="loginId" class="form-control" name="fMemberId" value="@ViewBag.MemberId" />
<section class="intro-section spad">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-8 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold @*mb-5*@ mx-1 mx-md-4 mt-4">建立文章</p>


                                <form id="createForm" class="mx-1 mx-md-4">
                                    <input type="hidden" class="form-control" name="fMemberId" value="@ViewBag.MemberId" />
                                    <div class="photo-button mb-3">
                                        <div class="photo-card mb-2 d-flex justify-content-center">
                                            <div class="photo">
                                                <img id="imgPreview" src="~/img/playlist/13.jpg" style="border-radius:10px">
                                                
                                            </div>
                                        </div>
                                        <div class="photo-upload mb-2 d-flex justify-content-center">
                                            <input id="imgFile" type="file" name="formFilePhoto" @* style="display: none;"*@class="btn btn-primary">
                                            
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example4c">文章標題</label>
                                            <input type="text" id="fTitle" name="fTitle" class="form-control" />

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example4c">文章風格</label>
                                            <select id="selectStyle" class="form-select" name="fStyleId"></select>
                                        </div>
                                    </div>

                                    @*<div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example3c">文章內容</label>
                                            <textarea class="form-control mb-3" placeholder="Leave a comment here" id="fContent" name="fContent" style="height: 100px"></textarea>

                                        </div>
                                    </div>*@

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="fContent">文章內容</label>
                                            <textarea class="form-control mb-3" placeholder="Leave a comment here" id="fContent" name="fContent" style="height: 100px"></textarea>
                                        </div>
                                    </div>


                                    <div class="text-right">
                                        <a href="~/Article/List" type="button" class="btn btn-secondary">取消</a>
                                        <button type="button" class="btn btn-success" id="buttonSend">確認建立</button>
                                        <button type="button" class="btn btn-outline-secondary" onclick="DemoCreate()">DEMO</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-4 d-flex align-items-center order-1 order-lg-2">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                     class="img-fluid" alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            ClassicEditor
                .create(document.querySelector('#fContent'), {
                    extraAllowedContent: 'iframe[*]'
                })
                .then(editor => {
                    editorInstance = editor; // 賦值 CKEditor 實例給全局變數
                })
                .catch(error => {
                    console.error(error);
                });
        });
        
        const selStyle = document.querySelector('#selectStyle');
        //圖片預覽
        var arrayBuffer;

        $("#imgFile").bind("change", function () {
            var file = this.files[0];
            var allowType = "image.*";
            if (file.type.match(allowType)) {
                //預覽
                var reader = new FileReader();
                reader.onload = function () {
                    arrayBuffer = this.result;
                    var blob = new Blob([arrayBuffer], {
                        type: "image/jpeg"
                    });
                    var urlCreator = window.URL || window.webkitURL;
                    var imageURL = urlCreator.createObjectURL(blob);
                    $("#imgPreview").attr("src", imageURL);
                };
                reader.readAsArrayBuffer(this.files[0]);
            }
            else {
                alert("不支援的檔案類型");
            }
        });
        //送出創建資料
        $('#buttonSend').click(function () {
            // 獲取 CKEditor 5 的內容
            if (editorInstance) {
            // 將 CKEditor 5 的內容設定為 textarea 的值
            document.querySelector('#fContent').value = editorInstance.getData();


            const formData = new FormData(document.querySelector('#createForm'));
            fetch('@Url.Content("~/apiTArticle/Create")', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.ok) {
                        alert("創立成功");
                        location.href = '@Url.Content("~/Article/List")';
                    }
                    else {
                        alert("連線失敗");
                    }
                });
            } else {
                console.error('CKEditor 實例未成功初始化');
            }
        })
        //Style選擇器
        async function loadStyle() {
            const response = await fetch('@Url.Content("~/apiTStyle/List")');
            const data = await response.json();
            const style = data.map(s => `<option value="${s.fStyleId}">${s.fName}</option>`);
            selStyle.innerHTML = style.join("");
        }
        loadStyle();
        function DemoCreate() {
            document.getElementById("fTitle").value = "電子音樂的起源";
            document.getElementById("fContent").value = "1953年歐洲在Einert和Beyer首次出現了純粹的電子音樂作品發表會。 電腦的發展大大提高了非器樂音樂的創作及創作技巧。 電腦不光能夠處理音樂會中的現場音效，也就是所謂的即時音樂，還能生成樂曲的素材。 1970年，音樂合成與研究學院在巴黎成立，並成為電子音樂、電腦生成音樂和聲音分析、合成等方面的重要研究中心。";
        }
    </script>
}