@model prjMusicBetter.Models.TArticle


@{
    ViewData["Title"] = "Details";
}
<input type="hidden" value="@Html.DisplayFor(model => model.FArticleId)" id="articleId" />
<!-- Blog section -->
<section class="blog-section spad">
    <div class="container">
        <!-- Blog post -->
        <div class="blog-item">
            <img src="~/img/Article/@Html.DisplayFor(model => model.FPhotoPath)" alt="" width="1200" height="600">
            <div class="blog-date"></div>
            <h3>@Html.DisplayFor(model => model.FTitle)</h3>
        </div>

        <!-- Blog post -->
        <div class="blog-item">
            <img id="pic2" alt="" width="1200" height="600">
            <p class=" ">
                @Html.DisplayFor(model => model.FContent)
            </p>
        </div>

        <div class="blog-item">
            <img id="pic3" alt="" width="1200" height="600">

        </div>

        <!-- Blog post -->

        <div class="site-pagination">
            <a href="#" class="active">01.</a>
            <a href="#">02.</a>
            <a href="#">03.</a>
            <a href="#">04.</a>
        </div>
    </div>
</section>
<!-- Blog section end -->


<div>
    <a asp-action="Edit" asp-route-id="@Model?.FArticleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<section class="similar-songs-section">
    <div class="container-fluid">
        <h3>你可能會想看的其他文章</h3>
        @{
            if (@Model.FArticleId< (ViewBag.AllArticle - 2))
            {
                <div class="row playlist-area">
                    <div class="mix col-lg-3 col-md-4 col-sm-6 movies">
                        <a asp-area="" asp-controller="Article" asp-action="Details" asp-route-id="@(Model.FArticleId + 1)">
                            <div class="playlist-item">
                                <img src="~/img/Article/@Html.DisplayFor(model => model.FPhotoPath)" alt="">
                                <h5>@ViewBag.PrArticle</h5>
                            </div>
                        </a>
                    </div>
                    <div class="mix col-lg-3 col-md-4 col-sm-6 movies">
                        <a asp-area="" asp-controller="Article" asp-action="Details" asp-route-id="@(Model.FArticleId + 2)">
                            <div class="playlist-item">
                                <img src="~/img/Article/@Html.DisplayFor(model => model.FPhotoPath)" alt="">
                                <h5>@ViewBag.SenArticle</h5>
                            </div>
                        </a>
                    </div>
                </div>
            }
            else
            {
                <div class="row playlist-area">
                    <div class="mix col-lg-3 col-md-4 col-sm-6 movies">
                        <a asp-area="" asp-controller="Article" asp-action="Details" asp-route-id="@(Model.FArticleId - 1)">
                            <div class="playlist-item">
                                <img src="~/img/Article/@Html.DisplayFor(model => model.FPhotoPath)" alt="">
                                <h5>@ViewBag.PrArticle</h5>
                            </div>
                        </a>
                    </div>
                    <div class="mix col-lg-3 col-md-4 col-sm-6 movies">
                        <a asp-area="" asp-controller="Article" asp-action="Details" asp-route-id="@(Model.FArticleId - 2)">
                            <div class="playlist-item">
                                <img src="~/img/Article/@Html.DisplayFor(model => model.FPhotoPath)" alt="">
                                <h5>@ViewBag.SenArticle</h5>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</section>
<!-- Similar Songs section end -->

<form class="input-group" asp-action="AddComment" asp-route-Id="@Model.FArticleId">
    <textarea class="form-control" type="text"
              placeholder="請先登入再留言" name="FCommentContent"></textarea>
    <input class="btn btn-sm btn-primary" type="submit" value="送出" />
</form>

<p class="alert-light m-0">共 @Model.TComments.Count 則留言</p>
<div>
    @foreach (var comment in Model.TComments)
    {
        <div class="row m-3">
            <div class="col-1">
                @if (comment.FMember != null)
                {
                    <img src="@Url.Content($"~/img/Member/{@ViewData["CommenterPhoto"]}")" />
                }
                else
                {
                    <img src="@Url.Content($"~/img/Member/default.jpg")" />
                }
            </div>
            <div class="col-11" style="background-color: #f8f9fa">
                <p>
                    @if (comment.FMember != null)
                    {
                        <span class="font-weight-bold">@ViewData["CommenterName"]</span>
                        
                    }
                    else
                    {
                        <span class="font-weight-bold">匿名會員</span>
                    }

                    <span class="text-muted">． @comment.FCommentTime</span>
                </p>
                <p>@comment.FCommentContent</p>
            </div>
        </div>
    }

</div>





@section Scripts{
    <script>
        const articleID = $("#articleId").val();

        $.getJSON(`/apiTArticle/QueryPicById/${articleID}`, function (datas) {
            console.log(datas);
            //$('#pic2').attr('src', `~/img/Article /${datas}`)
            
            for (let i = 0; i < datas.length; i++) {
                const x = datas[i]['fPicturePath']
                console.log(x);
                // 根據索引區分資料，這裡假設 index 為 0 的資料放入 #div1，index 為 1 的資料放入 #div2
                $(`#pic${i + 2}`).attr('src', `/img/Article/ArticlePicture/${x}`);
            }
        })
    </script>
}