@model prjMusicBetter.Models.TWork

@{
    ViewData["Title"] = "Details";
}
@section Styles
{
    <style>
       .imgmember {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>

}
<input type="hidden" id="loginId" value="@ViewBag.MemberId" />
<!---->

<section class="category-section spad">
    <div class="container-fluid">
        <div class="section-title">
            <h2>音樂探索</h2>
        </div>
        <div class="container">
            <div class="category-links">
                <div class="container col-lg-9">
                    <div class="text-right">
                        <select id="selectStyle" class="form-select mr-2"></select>
                        <input type="text" id="txtKeyword" name="keywords" placeholder="關鍵字" class="mr-2" />
                        <button type="button" id="btnSearch" class="btn btn-secondary mr-2">條件搜尋</button>
                        <button type="button" onclick="CheckLoginAndNavigate()" id="btnCreate" class="btn btn-info mr-2" style="background-color: #fc0254;">建立作品</button>
                    </div>
                </div>
                <a href="" class="active">Genres</a>
                <a href="">Artists</a>
                <a href="">All Playlist</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="category-items col-md-10">
                <div id="div01" class="row">
                    <!--List_-->
                    

                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    
</section>
<!-- Category section end --> 
<section class="songs-section spad">
    <div class="  container" />
    <div id="divList" class="row">
        <!--  new song -->       
    </div>
    <div class="row container">
        <div class=" text-center" id="pageButtons"><!--  分頁按鈕 -->  </div>
    </div>

    <!-- Modal1 -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">創立作品 <span></span></h5>
                    @*      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>*@
                    @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">取消</button>*@
                </div>
                <div class="modal-body">
                    <form id="createForm">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="hidden" id="loginId" name="fMemberId" value="@ViewBag.MemberId" />
                                    <div style="display: flex; justify-content: center; align-items: center; height: 230px;">
                                        <img id="imgPreview" src="~/img/Works/1.jpg" style="height: 200px;" alt="">
                                    </div>
                                    <div style="display: flex; justify-content: center; align-items: center;">
                                        <input type="file" id="imgFile" name="formFilePhoto" @*class="btn btn-secondary"*@ @*style="display: none;"*@>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fName">作品名稱</label>
                                    <input type="text" class="form-control" id="fName" name="fWorkName">
                                </div>
                                <div class="form-group">
                                    <label for="FBudget">風格</label>
                                    <select id="selectStyle2" class="form-select" name="fStyleId"></select>
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="FBudget">作品描述</label>
                                    <textarea class="form-control" id="fDescription" name="fDescription" style="height: 200px;"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="FBudget">上傳Demo</label>
                                    <input type="file" id="demoFile" name="formFileDemo" @*style="display: none;"*@>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-file-x-fill"></i> 關閉</button>
                    <button type="button" class="btn btn-primary" id="buttonSend"><i class="bi bi-send-check-fill"></i> 送出 </button>
                </div>
            </div>
        </div>
    </div>


</section>
@section Scripts{
        <script>

            const selStyle = document.querySelector('#selectStyle');
            const selStyle2 = document.querySelector('#selectStyle2');
            const pageButtonsContainer = $('#pageButtons');
            const onePage = 4;

            //Style選擇器
            async function loadStyle() {
                const response = await fetch('@Url.Content("~/apiTStyle/List")');
                const data = await response.json();
                const defaultOption = '<option value="100">請選擇風格</option>';
                const styleOptions = data.map(s => `<option value="${s.fStyleId}">${s.fName}</option>`);
                styleOptions.unshift(defaultOption);
                selStyle.innerHTML = styleOptions.join("");
                selStyle2.innerHTML = styleOptions.join("");
        }
            loadStyle();
        //建立按鈕功能

        const loginID = $('#loginId').val();
        const btnCreate = document.getElementById('btnCreate');

        function btnCreatFuntion() {
            if (loginID != 0) {
                btnCreate.setAttribute('data-bs-toggle', 'modal');
                btnCreate.setAttribute('data-bs-target', '#addModal');
            }
            if (loginID == 0) {
            }
        }
        btnCreatFuntion();
        //圖片預覽
        var arrayBuffer;

        $("#imgFile").bind("change", function () {
            var file = this.files[0];
            var allowType = "image.*";
            if (file.type.match(allowType)) {
                //預覽
                var reader = new FileReader();
                reader.onload = function () {
                    arrayBuffer = this.result;
                    var blob = new Blob([arrayBuffer], {
                        type: "image/jpeg"
                    });
                    var urlCreator = window.URL || window.webkitURL;
                    var imageURL = urlCreator.createObjectURL(blob);
                    $("#imgPreview").attr("src", imageURL);
                };
                reader.readAsArrayBuffer(this.files[0]);
            }
            else {
                alert("不支援的檔案類型");
            }
        });
        //送出創建資料
        $('#buttonSend').click(function () {
            const formData = new FormData(document.querySelector('#createForm'));
            fetch('@Url.Content("~/apiTWork/Create")', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.ok) {
                        alert("創立成功");
                        location.href = '@Url.Content("~/MusicShare/Details")';
                    }
                    else {
                        alert("連線失敗");
                    }
                })
        })

        //分頁按鈕
            async function loadPage() {
                const response = await fetch('@Url.Content("~/apiTWork/ListWithUserName")');
                const data = await response.json();
                // 篩選條件
                const sId = $('#selectStyle').val();
                const keyword = $('#txtKeyword').val();

                // 根據所選風格篩選數據
                let filteredData = data;
                if (sId != 100) {
                    filteredData = data.filter(item => item.fStyleId == sId);
                }
                //關鍵字篩選
                if (keyword != '') {
                    filteredData = filteredData.filter(item => {
                        // 在此添加關鍵字搜尋條件，例如在 fDescription 和 fName 中搜尋關鍵字
                return item.fDescription.includes(keyword) || item.fWorkName.includes(keyword);
                    });
                }
            loadPage();
                const dataCount = filteredData.length;
                const pageCount = Math.ceil(dataCount / onePage);

                // 清空現有按鈕
                pageButtonsContainer.empty();
                for (let i = 1; i <= pageCount; i++) {
                    let button = $(`<button class="btn btn-secondary mr-2">${i}</button>`);
                    button.click(function () {
                        load(i);
                    });
                    pageButtonsContainer.append(button);
                }
            }
            loadPage();
            
            //載入資料
            function load(pageNumber) {
                const divList = $('#divList')
                const sId = $('#selectStyle').val();
                const keyword = $('#txtKeyword').val(); // 新增的關鍵字搜尋
                //divList.empty();

                $.getJSON('/apiTWork/ListWithUserName', function (datas) {
                console.log(datas)
                    let filteredDatas = datas;
                    //風格條件篩選
                    if (sId != 100) {
                        filteredDatas = datas.filter(item => {
                            // 在此添加筛选条件
                            return item.fStyleId == sId;
                        });
                    }
                    //關鍵字篩選
                    if (keyword) {
                        filteredDatas = filteredDatas.filter(item => {
                            // 在此添加關鍵字搜尋條件，例如在 fDescription 和 fName 中搜尋關鍵字
                                    return item.fDescription.includes(keyword) || item.fWorkName.includes(keyword);
                        });
                    }
                    console.log(filteredDatas);

                    dataCount = filteredDatas.length;

                    //獲得限定頁面資料
                    const limitdatas = filteredDatas.slice((pageNumber - 1) * onePage, ((pageNumber - 1) * onePage) + onePage);

                    const docFrag = $(document.createDocumentFragment())
                    $.each(limitdatas, function (index, item) {
                        const descriSub = item.fDescription.length > 15 ? item.fDescription.substring(0, 15) + '...' : item.fDescription;
                        const card = $(   `
                    <div class="mix col-12" style="background-color:#F0F0F0;border-radius: 20px; ">
                        <div class="col-12 mb-2"></div>
                        <div class="row playlist-item" style="margin: 0;">
                            <div class="col-2" style="margin:0px">
                                                <img  src="/img/Works/${item.fThumbnail}" alt="" style="margin: 0;border-radius: 20px; width: 1px;"/>
                            </div>
                            <div class="col-10" style="margin:0px">
                                <div class="row">
                                    <div class="col-12 mb-4"></div>
                                    <div class="col-12 text-center">
                                        <div class="row">
                                            <div class="col-10">  <h5>${item.fWorkName}</h5></div>
                                            <div class="col-2"></div>
                                                <div class="row">
                                                    </div>
                                                            <div class="col-12 mb-2"></div>
                                                        <p style=" font-size: 20px, margin:0px">${item.fDescription}</p>
                                        </div>
                                        </div>
                                        <p style="margin:0px">${item.fUsername}</p>
                                    </div>
                                    </div>
                                    <div class="col-12">
                                        <audio controls style="width:100%">
                                            <source src="/WorkFile/${item.fFilePath}" type="audio/mpeg" />
                                        </audio>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-12 mb-2"></div>
    `
                        );
                        docFrag.append(card);
                    })
                    divList.html(docFrag)
                })
            }

            //第一次讀取
            function firstLoad(pageNumber) {
                const divList = $('#divList')
                //divList.empty();

                     $.getJSON('/apiTWork/ListWithUserName', function (datas) {
                    console.log(datas);
                    //獲得限定頁面資料
                    const limitdatas = datas.slice((pageNumber - 1) * onePage, ((pageNumber - 1) * onePage) + onePage);

                    const docFrag = $(document.createDocumentFragment())
                    $.each(limitdatas, function (index, item) {
                    const descriSub = item.fDescription.length > 15 ? item.fDescription.substring(0, 15) + '...' : item.fDescription;
                               const card = $(`
                            <div class="mix col-12" style="background-color:#F0F0F0;border-radius: 20px; ">
                                <div class="col-12 mb-2"></div>
                                <div class="row playlist-item" style="margin: 0;">
                                    <div class="col-2" style="margin:0px">
                                                        <img src="/img/Works/${item.fThumbnail}" alt="" style="margin: 0;border-radius: 20px; width: 1px;"/>
                                    </div>
                                    <div class="col-10" style="margin:0px">
                                        <div class="row">
                                            <div class="col-12 mb-4"></div>
                                            <div class="col-12 text-center">
                                                <div class="row">
                                                    //<div class="col-10">  <h5>${item.fWorkName}</h5></div>
                                                    <div class="col-2"></div>
                                                        <div class="row">
                                                            </div>
                                                                    <div class="col-12 mb-2"></div>
                                                        <p style=" font-size: 20px, margin:0px">${item.fDescription}</p>
                                                </div>
                                                </div>
                                                <p style="margin:0px">${item.fUsername}</p>
                                            </div>
                                            </div>
                                            <div class="col-12">
                                                <audio controls style="width:100%">
                                                    <source src="/WorkFile/${item.fFilePath}" type="audio/mpeg" />
                                                </audio>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="col-12 mb-2"></div>
            `
                              );
                        docFrag.append(card);
                    })
                    divList.html(docFrag)
                })
            }
            firstLoad(1);

            //DIv01 資料
            function LoadDiv01() {
                const div01=$('#div01')
                $.getJSON('/apiTWork/MemberList', function (datas) {
                    const docFrag = $(document.createDocumentFragment())
                    $.each(datas, function (index, item) { 
                        const card=$(
                            `
                            <div class="col-md-4">
                                <div class="category-item">
                                        
                                            <img src="/img/Member/${item.fPhotoPath}" alt=""  style="width="200" height="200"">
                                    
                                    <div class="ci-text">
                                        <h4>${item.fUsername}</h4>
                                    </div>                                    
                                </div>
                            </div>
                            `
                        )
                    docFrag.append(card);
                     })
                div01.html(docFrag);
                })
            }
        $(document).ready(function () {
            LoadDiv01();
        });
            //搜尋按鈕
            $('#btnSearch').click(function () {
                //讀取條件篩選後第一頁,重新讀取分頁頁碼
                load(1);
                loadPage();
                //$('#txtKeyword').val('');
            });




        async function CheckLoginAndNavigate() {
            const response = await fetch(`@Url.Content("~/apiHome/IsLogin")`);
            const isLogin = await response.json();

            if (isLogin) {

            } else {
                // 如果未登錄，導航到 Home/Login
                window.location.href = "@Url.Action("Login", "Home")";
            }
        }
    </script>
}