<!DOCTYPE html>
<html lang="zh-hant">
<head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon" />

    @* Login 雨滴*@
     @* <script src="~/js/rainyday.min.js"></script>  *@

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/slicknav.min.css" />
    <link href="~/css/sweetalert2.min.css" rel="stylesheet" />
    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="~/css/style.css" />

    @await RenderSectionAsync("Styles", required: false)

    <script src="~/js/jquery-3.2.1.min.js"></script>

    <!-- 在<head>標籤內引入CKEditor 5樣式 -->
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ckeditor5@35.0.2/classic/ckeditor.css">*@
    <style>
        .navbar-nav .nav-link {
            white-space: nowrap;
        }
    </style>


</head>

<body>
    <!-- Header section -->
    <header class="sticky-top">
        <nav class="navbar shadow navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark  box-shadow">

            <div class="container-fluid">
                <a class="navbar-brand text-white d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    @* <div class="nav-logo">
                    <h2 style="color:#fc0254">Sound</h2>
                    </div>
                    <div class="nav-logo-en">
                    <h3 style="color:white">Better</h3>
                    </div> *@
                    <img src="~/img/logo.png" />

                </a>
                <button class="navbar-toggler bg-black" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-white"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 gap-3">
                        <li class="nav-item">
                            <a class="nav-text nav-link text-white" href="@Url.Content("~/Project/List")">找製作</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white nav-text" href="@Url.Content("~/Class/Index")">找課程</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white nav-text" asp-area="" asp-controller="Place" asp-action="Place">找場地</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white nav-text" asp-area="" asp-controller="Article" asp-action="List">音樂文章</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white nav-text" asp-area="" asp-controller="MusicShare" asp-action="Details">音樂分享</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white nav-text" asp-area="" asp-controller="Members" asp-action="Index">會員資訊</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white nav-text" asp-area="" asp-controller="Home" asp-action="CouponList">優惠券資訊</a>
                        </li>

                    </ul>
                    <div class=" marquee text-white">
                        <marquee bgcolor="gray" hspace="30" scrollamount="5"> 輸入優惠代碼:9478   即可課程優惠減免10%。</marquee>
                    </div>
                    <div class="d-flex align-items-center gap-2 mx-3">
                        <div class="d-flex align-items-center gap-2 p-1 bg-white rounded-3 mx-2">
                            <div class="width-170px">
                                <input type="text" class="form-control border-0" id="inputKeyword" placeholder="請輸入關鍵字" />
                            </div>
                            <div class="divKeyword cursor-pointer">
                                <div class="width-30px">
                                    <img src="~/img/header/loupe.png" width="20px" />
                                </div>
                            </div>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown" id="memberIcon">
                                    <button class="btn btn-dark" data-bs-toggle="dropdown">
                                        <img src="~/img/header/user.png" class="circle-size-35" width="30" />
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark" id="empList">
                                        <li class="d-flex align-items-center mx-2">
                                            <img src="/img/icons/question.png" class="width-16px" width="30" />
                                            <a class="dropdown-item fs-12px" href="#">幫助中心</a>
                                        </li>
                                        <li class="d-flex align-items-center mx-2">
                                            <img src="/img/icons/user.png" class="width-16px" width="30" />
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <a class="dropdown-item" asp-action="Loginout" asp-controller="Home">登出</a>
                                                <a class="dropdown-item" asp-controller="Members" asp-action="Index">會員資訊</a>
                                            }
                                            else
                                            {
                                                <a class="dropdown-item fs-12px" asp-action="Login" asp-controller="Home">登入/註冊</a>
                                            }
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-icon mx-3">
                            @*   <a class="position-relative" id="collectItems" href="@Url.Content("~/fmember/index?display=MemberMyKeep")">
                            <img src="~/img/header/like.png" width="15"/>
                            </a> *@
                        </div>
                        <a asp-action="List" asp-controller="ShoppingCart" class="nav-icon mx-3 position-relative" id="cartItems">
                            <img src="~/img/header/shopping-cart.png" width="30" />
                            <span id="cartItemCount" class="badge badge-danger position-absolute top-0 start-100 translate-middle" style="display:none">
                                <!-- 購物車數量 -->
                            </span>
                        </a>
                        <a asp-action="Index" asp-controller="Chat" class="nav-icon mx-3 position-relative" id="cartItems">
                            <img src="~/img/tech-support.gif" width="30" />
                            <span id="cartItemCount" class="badge badge-danger position-absolute top-0 start-100 translate-middle" style="display:none">
                                <!-- 購物車數量 -->
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Header section end -->
    @RenderBody()
    <!-- Footer section -->
    <footer id="footer" style="background: #333; color: white; text-align: center; padding: 20px 0;">
        <div class="container mx-auto text-white row">
            <div class="col-3">
                @*                 <div class="lh-1 fw-bold fs-4 my-3">
                關於SoundBetter
                </div> *@
                <div class="lh-1 my-3 fs-12px">
                    <li><a href="@Url.Action("aboutUS","Home")">創立故事</a></li>
                </div>
                <div class="lh-1 my-3 fs-12px">
                    <li><a href="@Url.Action("List","Article")">文章分享</a></li>
                </div>
                <div class="lh-1 my-3 fs-12px">
                    <li><a href="@Url.Action("List","Article")">音樂故事</a></li>
                </div>
                <div class="copyright">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> 版權所有 | SoundBetter音樂工作室 All Rights Reserved. <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href=" " target="_blank">MSIT153</a>
                </div>
            </div>
            <div class="col-3">
                <div class="lh-1 fw-bold fs-4 my-3">
                    <li><a href="@Url.Action("aboutUS","Home")">關於我們</a></li>
                </div>
                <div class="lh-1 my-3 fs-12px">
                    <li><a href="@Url.Action("FAQ","Home")">常見問題</a></li>
                </div>
                <div class="lh-1 my-3 fs-12px">
                    <li><a href="@Url.Action("contactUS","Home")">聯絡我們</a></li>
                </div>
                <div class="lh-1 my-3 fs-12px">
                    <li><a href="@Url.Action("contactUS","Home")">加入我們</a></li>
                </div>
            </div>
            <div class="col-3">
                <div class="lh-1 fw-bold fs-4 my-3">
                    <li><a href="@Url.Action("Place","Place")">場地專區</a></li>
                </div>
                <div class="lh-1 my-3 fs-12px">
                    <li><a href="@Url.Action("Index","Class")">課程專區</a></li>
                </div>
                <div class="lh-1 my-3 fs-12px">
                    <li><a href="@Url.Action("List","MemberPage")">會員清單</a></li>
                </div>
                <div class="lh-1 my-3 fs-12px">
                    <li><a href="@Url.Action("TermOfTeacher","Home")">教學條款</a></li>
                </div>
                <div class="lh-1 my-3 fs-12px">
                    <li><a href="@Url.Action("Term","Home")">服務條款</a></li>
                </div>

            </div>
            <div class="col-3">
                <div class="lh-1 fw-bold fs-4 my-3">

                    官方社群
                </div>
                <div class="lh-1 my-3 fs-12px">
                    <a href=""><i class="fa fa-facebook-square"></i></a>
                    Facebook
                </div>
                <div class="lh-1 my-3 fs-12px">
                    <a href=""><i class="fa fa-instagram"></i></a>
                    Instagram
                </div>
                <div class="lh-1 my-3 fs-12px">
                    <a href=""><i class="fa fa-youtube-play"></i></a>
                    Youtube
                </div>
                <div class="lh-1 my-3 fs-12px">
                    <a href=""><i class="fa fa-github"></i></a>
                    GitHub
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->
    @*<script src="~/js/bootstrap.min.js"></script>*@
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>
    <script>
        // 更新購物車Session
        $(function () {
            UpdateShoppingCartIcon()
        })

        function UpdateShoppingCartIcon() {
            $.ajax({
                type: 'GET',
                url: '/apiShoppingCart/Index',
                dataType: 'json',
            })
                .then(function (response) {
                    // 判斷購物車種類
                    cartItemCount = response.length

                    // 更新頁面購物車商品數量
                    var cartItemCountElement = $('#cartItemCount');

                    cartItemCountElement.text(cartItemCount);

                    // 沒東西 隱藏數字
                    if (cartItemCount === 0) {
                        cartItemCountElement.hide();
                    } else {
                        cartItemCountElement.show();
                    }
                })
                .catch(function (error) {
                    console.error('Failed to retrieve shopping cart information.', error);
                });
        }
    </script>

    <script>
        AOS.init();

        CheckLogin()

        async function CheckLogin() {
            const response = await fetch(`@Url.Content("~/apiHome/IsLogin")`)
            const isLogin = await response.json();

            if (isLogin) {
                const response = await fetch(`@Url.Content("~/apiHome/UpdateNav")`)
                const dto = await response.json();

                const { datas, role } = dto;

                if (role == "Member") {
                    let str = "";
                    str += `<ul class="navbar-nav">
                                                                   <li class="nav-item dropdown" id="memberIcon">
                                                                      <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> `;
                    if (datas.photoPath != null) {

                        str += `<img src="@Url.Content("~/img/Member/")${datas.photoPath}" class="circle - size - 35"  width="30px"/>`
                    }
                    else {
                        str += `<img src="@Url.Content("~/img/header/user.png")" class="circle-size-35" width="30px" />`
                    }
                    str += `</button>
                                                            <ul class="dropdown-menu dropdown-menu-dark">
                                                                <li class="d-flex align-items-center mx-2">
                                                                    <img src="@Url.Content("~/img/header/user.png")" class="width-16px" />
                                                                    <a class="dropdown-item fs-12px" href="@Url.Content("~/Members/index?display=MemberInfo")">會員資料</a>
                                                                </li>

                                                                <li class="d-flex align-items-center mx-2">
                                                                    <img src="@Url.Content("~/img/icons/logout.png")" class="width-16px" />
                                                                            <a class="dropdown-item fs-12px" href="@Url.Content("~/Home/Loginout")">會員登出</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>`;

                    $("#memberIcon").html(str)
                }

                else {
                    let str = "";
                    str += `<ul class="navbar-nav">
                                                                   <li class="nav-item dropdown" id="memberIcon">
                                                                   <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">`;
                    if (datas.photoPath != null) {
                        str += `<img src="@Url.Content("~/images/uploads/Employee/")${datas.photoPath}" class="circle-size-35"  width="30px"/>`
                    }
                    else {
                        str += `<img src="@Url.Content("~/images/header/user.png")" class="circle-size-35"  width="30px"/>`
                    }
                    str += `</button>
                                                  <ul class="dropdown-menu dropdown-menu-dark">
                                                      <li class="d-flex align-items-center mx-2">
                                                         <img src="@Url.Content("~/images/header/user.png")" class="width-16px" />
                                                             <a class="dropdown-item fs-12px" href="@Url.Content("~/Bghome/index")">後臺管理</a>
                                                      </li>
                                                      <li class="d-flex align-items-center mx-2">
                                                         <img src="@Url.Content("~/images/icon/logout.png")" class="width-16px" />
                                                             <a class="dropdown-item fs-12px" href="@Url.Content("~/Home/Loginout")">會員登出</a>
                                                      </li>
                                                  </ul>
                                              </li>
                                          </ul>`;
                    $("#memberIcon").html(str)
                }
                        else
                {
                    let str = "";
                    str += `<ul class="navbar-nav">
                              <li class="nav-item dropdown" id="memberIcon">
                                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">`;
                    if (datas.photoPath != null) 
                    {
                        str += `<img src="@Url.Content("~/uploads/")${datas.photoPath}" class="circle-size-35" />`
                    }
                    else
                    {
                        str += `<img src="@Url.Content("~/img/header/user.png")" class="circle-size-35" />`
                    }
                    str += `</button>
                              <ul class="dropdown-menu dropdown-menu-dark">
                                  <li class="d-flex align-items-center mx-2">
                                     <img src="@Url.Content("~/img/header/user.png")" class="width-16px" />
                                         <a class="dropdown-item fs-12px" href="@Url.Content("~/Bghome/index")">後臺管理</a>
                                     </li>
                                  <li class="d-flex align-items-center mx-2">
                              <img src="@Url.Content("~/img/icons/logout.png")" class="width-16px" />
                                       <a class="dropdown-item fs-12px" href="@Url.Content("~/Home/Loginout")">會員登出</a>
                                  </li>
                               </ul>
                               </li>
                               </ul>`;
                    $("#memberIcon").html(str)
                }
            }
        }
    </script>

    @if (TempData["AlertLogin"] != null)
    {
        <script>
            Swal.fire({
                title: '歡迎登入',
                text: '您好!@TempData["AlertLogin"]',
                icon: 'success',
                confirmButtonColor: '#3C3C3C',
                confirmButtonText: '確認'
            })
        </script>
    }
    @if (TempData["AlertRegister"] != null)
    {
        <script>
            Swal.fire({
                title: '註冊成功!',
                text: '您好!@TempData["AlertRegister"]',
                icon: 'success',
                confirmButtonColor: '#3C3C3C',
                confirmButtonText: '確認'
            })
        </script>
    }
  
    @*  CheckLogin() *@
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>

<style>
    .nav-icon {
        position: relative;
        display: inline-block;
    }

    #cartItemCount {
        position: absolute;
        top: 0;
        start: 100%;
        transform: translate(-50%, -50%);
        background-color: red; /* 背景颜色，可以根据需求更改 */
        color: white; /* 字体颜色，可以根据需求更改 */
        border-radius: 50%;
        padding: 5px 8px;
        font-size: 12px; /* 字体大小，可以根据需求更改 */
    }
</style>