@model List<prjMusicBetter.Models.ViewModels.ShoppingCartVM>
@{
    ViewData["Title"] = "結帳頁面";
    int totalPrice = 0;
}

<div class="container">
    <main>
        <div class="py-5 text-center" style="text-align:left;">
            <h2>結帳</h2>
        </div>

        <div class="card-body">
            <h5 class="card-title" style="font-size:30px">訂單明細</h5>
           <form id="orderForm" method="post" action="/CheckOut/CheckOut">
            <table class="table">
                <thead>
                    <tr>

                        <th scope="col">訂單商品</th>
                        <th scope="col">單價</th>
                        <th scope="col">數量</th>
                        <th scope="col">總價</th>
                    </tr>
                </thead>
                <tbody>
                    @* 每筆訂單資料 *@
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            var item = Model[i];
                            totalPrice += Convert.ToInt32(item.ProductPrice * item.ProductCount);

                            <tr>
                                <td>
                                    <input type="text" name="OrderItems[@i].ProductName" value="@item.ProductName" readonly />
                                </td>
                                <td>
                                    
                                    <input type="number" name="OrderItems[@i].ProductPrice" value="@Convert.ToInt32(item.ProductPrice)" readonly />
                                </td>
                                <td>
                                    <input type="number" name="OrderItems[@i].ProductCount" value="@item.ProductCount" readonly />
                                </td>
                                <td>
                                    <input type="number" name="OrderItems[@i].TotalPrice"  value="@Convert.ToInt32(item.ProductPrice * item.ProductCount)" readonly />
                                </td>
                            </tr>
                        }
                    <tr>
                            
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">總價</th>
                        <th scope="col"><span id="totalPrice">@(totalPrice)</span></th>
                    </tr>
                </tbody>
            </table>
                <div class="col-md-6">
                    <label for="couponCode" class="form-label">優惠券號碼</label>
                    <input type="text" class="form-control" id="couponCode" placeholder="" required>
                    <button type="button" class="btn-primary" onclick="validateCoupon()">使用優惠券</button>
                </div>
                <div class="row g-5" style="text-align:right;">
                    <div class="col-md-6 offset-md-6">
                        <button type="submit" onclick="checkoutAndClear()" class="btn btn-primary">提交訂單</button>
                    </div>
                </div>
            </form>
            <div>
            </div>
        </div>
    </main>
    
</div>


    <footer class="my-5 pt-5 text-body-secondary text-center text-small">
        <p class="mb-1">&copy; 2017–2023 SoundBetter</p>
    </footer>

    @section Scripts{
<script>

    //優惠券
    function validateCoupon() {


            var couponCode = $("#couponCode").val();

            $.ajax({
                type: "POST",
                url: "/ShoppingCart/ValidateCoupon",
                data: { couponCode: couponCode },
                success: function (response) {
                    if (response.valid) {
                        // 優惠券驗證成功，更新 UI 顯示折扣等信息
                        alert("優惠券驗證成功，折扣：" + response.discount + "%off");
                        updateTotalPrice(response.discount);

                    } else {
                        // 優惠券驗證失敗，顯示錯誤訊息
                        alert("優惠券驗證失敗：" + response.message);
                    }
                },
                error: function (error) {
                    // 處理錯誤
                    alert("發生錯誤：" + error.responseText);
                }
            });
        }

    function checkoutAndClear() {
         // 遍歷每一筆資料，呼叫 Currentplus 函數
        @for (int i = 0; i < Model.Count; i++)
    {
        <text>
        let productId = @Model[i].ProductId; // 取得每筆資料的ProductId
        Currentplus(productId); // 將ProductId傳遞給Currentplus函數
        </text>
    }
                $.when(checkOut(), clearShoppingCart()).done(function () {
                    // 當異步操作完成后提交表單
                    document.getElementById("orderForm").submit();
                });
    }

    function checkOut() {
       
        $.ajax({
            type: "POST",
            url: "/ShoppingCart/CheckOut_Rst", // 修改成你的 API 端點
            contentType: "application/json; charset=utf-8",
            dataType: "json",

            success: function (response) {
                // 處理成功的回應
                alert(response.message);
                // 刷新購物車Icon
                UpdateShoppingCartIcon();
            },
            error: function (error) {
                // 處理錯誤
                alert(response.message);
            }
        });
    }

    //清除購物車內容
    function clearShoppingCart() {
        $.ajax({
            type: "POST",
            url: "/ShoppingCart/ClearCart",
            success: function () {
            },
            error: function () {
            }
        });
    }

    //更新使用優惠券後的總價
    function updateTotalPrice(discount) {
        // 獲取總價元素
        var totalPriceElement = $("#totalPrice");

        // 獲取原始總價
        var originalTotalPrice = parseInt(totalPriceElement.text());

        // 計算折扣後的價格
        var discountedPrice = originalTotalPrice * (1 - discount / 100);

        // 更新總價
        totalPriceElement.text(discountedPrice);

            // 使用Ajax將折扣值傳遞到後端
            $.ajax({
                url: '/CheckOut/ApplyDiscount',
                method: 'POST',
                data: { discount: discount },
                success: function (response) {
                    
                    console.log(response);
                },
                error: function (error) {
                    console.error(error);
                }
            });

    }

    function Currentplus(productId) {
    $.ajax({
        type: "POST",
        url: "/apiTClass/Currentplus",
        data: { id: productId }, // 將 productId 作為請求的資料傳遞到後端
        success: function () {
            // 成功時的處理
        },
        error: function () {
            // 錯誤時的處理
        }
    });
    }

</script>
}