@model prjMusicBetter.Models.TMember

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout2";
}
}

<h1>Delete</h1>



@* ======================================================================== *@

<main id="main" class="main">
    <!-- 其他內容... -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">會員清單</h5>

                        <div class="datatable-container">
                            <table class="table">
                                <!-- 表格標題和內容... -->
                                <div>
                                    <h4>TMember</h4>
                                    <hr />
                                    <dl class="row">
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.FUserame)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.FUserame)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.FName)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.FName)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.FPasswod)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.FPasswod)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.FPhone)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.FPhone)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.FEmail)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.FEmail)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.FGender)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.FGender)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.FBirthday)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.FBirthday)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.FCreationTime)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.FCreationTime)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.FIntroduction)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.FIntroduction)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.FPhotoPath)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.FPhotoPath)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.FPermission)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.FPermission.FPromissionId)
                                        </dd>
                                    </dl>
                                    <hr />
                                    <form asp-action="Delete">
                                        <input type="hidden" asp-for="FMemberId" />
                                        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirmDelete();" /> |
                                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                                    </form>
                                </div>

                            </table>
                        </div>               
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@* ======================================================================== *@
<script>
    function confirmDelete() {
        return confirm('確定要刪除此會員資料嗎?');
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
