@model IEnumerable<prjMusicBetter.Models.TMember>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout2";
}

<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<main id="main" class="main">
    <h1 class="text-3xl font-bold text-center my-4">會員管理</h1>

    <div class="d-flex align-items-center gap-2">
        @Html.ActionLink("新增會員", "create", "TMembers", "", new { @class = "btn btn-dark" })
    </div>

    <div class="flex justify-end items-center">
        <div class="flex justify-end items-center">
            <form asp-action="Index" method="get">
                <div class="form-group">
                    <label for="search" class="mb-0 mx-3">搜尋關鍵字:</label>
                    <input type="text" class="form-control" id="search" name="search" placeholder="請輸入關鍵字" value="@ViewData["CurrentFilter"]" />
                    <button type="submit" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded ml-2">搜尋</button>
                </div>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="py-3 px-6 text-center" >
                    使用者姓名
                </th>
                <th class="py-3 px-6 text-center">
                    姓名
                </th>
                <th class="py-3 px-6 text-center">
                    密碼
                </th>
                <th class="py-3 px-6 text-center">
                    電話號碼
                </th>
                <th class="py-3 px-6 text-center">
                    信箱
                </th>
                <th hidden class="py-3 px-6 text-center">
                    性別
                </th>
                <th class="py-3 px-6 text-center ">
                    生日
                </th>
                <th hidden class="py-3 px-6 text-cente ">
                    建立時間
                </th>
                <th hidden class="py-3 px-6 text-center" >
                    自我介紹
                </th>
                 <th class="py-3 px-6 text-center">
                    照片
                </th>
                <th class="py-3 px-6 text-center font-bold">
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td >
                        @Html.DisplayFor(modelItem => item.FUsername)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FPassword)                    
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FEmail)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.FGender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FBirthday)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.FCreationTime)
                    </td>
                    <td hidden >
                        @Html.DisplayFor(modelItem => item.FIntroduction)
                    </td>

                    <td class="text-base p-4">
                        @if (!string.IsNullOrEmpty(item.FPhotoPath))
                        {
                            <img src="@Url.Content("~/img/Member/" + item.FPhotoPath)" alt="Member Image" style="width:100px; height:auto;" />

                        }
                        else
                        {
                            @:No Image
                        }
                    </td>
                    <td class="text-center font-bold">
                                <a asp-action="Edit" asp-route-id="@item.FMemberId" class="text-lg bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-700">修改</a>
                                @* <a asp-action="Details" asp-route-id="@item.FMemberId">細節</a> | *@
                                <a asp-action="Delete" asp-route-id="@item.FMemberId" class="text-lg bg-red-500 text-white px-3 py-1 rounded hover:bg-red-700 ml-2">刪除</a>
                            </td>
                </tr>
            }
        </tbody>
    </table>
</main>

<!-- End #main -->
