@model prjMusicBetter.Models.TClass
@{
    ViewData["Title"] = "Edit";
}
<style>
    .btm {
        height: 60px;
        min-width: 167px;
        right: 0;
        top: 0;
        border: none;
        border-radius: 80px;
        color: #fff;
        font-size: 15px;
        background: #fc0254;
        float: right;
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
<!-- 在<body>標籤內引入CKEditor 5腳本 -->
<script src="https://cdn.ckeditor.com/ckeditor5/40.1.0/classic/ckeditor.js"></script>
<section class="contact-section">
    <div class="container-fluid">
        <div class="contact-warp">
            <div class="section-title mb-0">
                <div class="flex-container">
                    <h2>修改課程內容</h2>
                    <button id="deleteButton" name="deleteButton" class="btm">刪除課程</button>
                </div>
            </div>
            <form id="classForm" method="post" class="contact-from col-lg-8">
                <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="FClassId" />
                <input type="hidden" asp-for="FTeacherId" />
                <div class="form-group col-md-6">
                    <label asp-for="FClassName" class="control-label">課程名稱:</label>
                    <input asp-for="FClassName" class="form-control" />
                    <span asp-validation-for="FClassName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="FPrice" class="control-label">單堂價格:</label>
                    <input asp-for="FPrice" class="form-control" />
                    <span asp-validation-for="FPrice" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="FDescription" class="control-label">課程說明:</label>
                        <textarea asp-for="FDescription" class="form-control" id="fDescription" name="FDescription"></textarea>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="FStartdate" class="control-label">開始日期:</label>
                    <input asp-for="FStartdate" class="form-control" />
                    <span asp-validation-for="FStartdate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="FEnddate" class="control-label">結束日期:</label>
                    <input asp-for="FEnddate" class="form-control" />
                    <span asp-validation-for="FEnddate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="FSiteId" class="control-label">上課地點:</label>
                        <input asp-for="FSiteId" type="hidden" id="fSiteID" name="fSiteID" />
                        <select id="fSiteName" name="fSiteName" required></select><br />
                </div>
                    <div class="form-group col-md-12">
                        <label asp-for="FOnLine" class="control-label">上課方式</label>
                        <select asp-for="FOnLine" class="form-control">
                            <option value="0">實體課程</option>
                            <option value="1">線上課程</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label asp-for="FSkillId" class="control-label">課程類型</label>
                        <input asp-for="FSkillId" class="form-control" type="hidden" id="fSkillID" name="fSkillID" />
                        <select id="fName" name="fName" required></select><br />
                    </div>
                <div class="form-group col-md-6">
                    <label asp-for="FMaxStudent" class="control-label">課程人數:</label>
                    <input asp-for="FMaxStudent" class="form-control" />
                    <span asp-validation-for="FMaxStudent" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="FCurrentStudent" />
                    <div class="form-group col-md-12">
                        <label asp-for="FThumbnailPath" class="control-label">圖片:</label>
                        @*<input asp-for="FThumbnailPath" type="file" class="form-control" />*@
                        <input type="file" id="formFile" name="formFile" accept="image/*" />
                        <img id="imgPreview" src="~/img/classimg/class_bg.jpg" style="border-radius:10px; max-width: 400px; max-height: 400px;">
                        <span asp-validation-for="FThumbnailPath" class="text-danger"></span>
                    </div>
                <div class="form-group col-md-12">
                        <input id="buttonSubmit" type="submit" value="確定修改" class="btn btn-primary" />
                </div>
                </form>
            </form>
        </div>
    </div>
</section>

 @section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // 將<textarea>元素轉換為CKEditor 5編輯器
            ClassicEditor
                .create(document.querySelector('#fDescription'))
                .then(editor => {
                    editorInstance = editor; // 賦值 CKEditor 實例給全局變數
                })
                .catch(error => {
                    console.error(error);
                });
        });
        //讓上課地點選項顯示fSiteName
        const SiteID = document.querySelector('#fSiteID');
        const SiteName = document.querySelector('#fSiteName');

        //讓課程類型選項顯示fName
        const SkillID = document.querySelector('#fSkillID');
        const SkillName = document.querySelector('#fName');


        function load() {
            // 獲取TSites資料
            fetch('@Url.Content("~/Place/List")')
                .then(response => response.json())
                .then(data => {
                    const selectElement = document.getElementById('fSiteName');
                    // 清除所有已有的選項
                    while (selectElement.firstChild) {
                        selectElement.removeChild(selectElement.firstChild);
                    }
                    data.forEach(site => {
                        const option = document.createElement('option');
                        option.value = String(site.fSiteId);  // 使用fSiteID作為值
                        option.text = site.fSiteName; // 顯示fSiteName
                        selectElement.appendChild(option);
                        console.log(option);
                    });
                    // 設定初始值
                    const initialValue = SiteID.value;
                    selectElement.value = initialValue;
                    // 添加 change 事件監聽器，當選擇改變時觸發
                    selectElement.addEventListener('change', function() {
                    // 將隱藏的 fSiteID 更新為所選擇的 fSiteID
                        SiteID.value = selectElement.value;
                    });
                });
                // 獲取TSites資料
                fetch('@Url.Content("~/Place/List")')
                    .then(response => response.json())
                    .then(data => {
                        const selectElement = document.getElementById('fSiteName');
                        data.forEach(site => {
                            const option = document.createElement('option');
                            option.value = String(site.fSiteId);  // 使用fSiteID作為值
                            option.text = site.fSiteName; // 顯示fSiteName
                            selectElement.appendChild(option);
                        });
                        // 設定初始值
                        const initialValue = SiteID.value;
                        selectElement.value = initialValue;

                        // 添加 change 事件監聽器，當選擇改變時觸發
                        selectElement.addEventListener('change', function () {
                            // 將隱藏的 fSiteID 更新為所選擇的 fSiteID
                            SiteID.value = selectElement.value;
                        });
                    });

                /////////////////////////////////////////////////////

                // 獲取TSkill資料
                fetch('@Url.Content("~/apiTSkills/OnlyIdName")')
                    .then(response => response.json())
                    .then(data => {
                        const selectElement = document.getElementById('fName');
                        data.forEach(skill => {
                            const option = document.createElement('option');
                            option.value = String(skill.fSkillId);  // 使用FSkillId作為值
                            option.text = skill.fName; // 顯示FName
                            selectElement.appendChild(option);
                            //console.log(data);
                        });
                        // 設定初始值
                        const initialValue = SkillID.value;
                        selectElement.value = initialValue;

                        // 添加 change 事件監聽器，當選擇改變時觸發
                        selectElement.addEventListener('change', function () {
                            // 將隱藏的 fSkillID 更新為所選擇的 fSkillID
                            SkillID.value = selectElement.value;
                        });
                    });
        }
        load();

        //檢查必填項目是否都已填寫///////////////////////////////////////////////////////////////////////

        function validateForm() {
            // 檢查必填項目是否都已填寫
            const requiredFields = document.querySelectorAll('[required]');
            let isValid = true;
            let isAlertShown = false; // 追踪警告是否已經顯示

            requiredFields.forEach(field => {
                if (!field.value.trim()) {
                    if (!isAlertShown) {
                        alert('請填寫所有必填項目');
                        isAlertShown = true; // 警告已經顯示
                    }
                    isValid = false;
                }
            });

            // 重置 isAlertShown，以便下次提交時再次顯示警告
            isAlertShown = false;

            return isValid;
        }

        // 上傳資料///////////////////////
        const btn = document.querySelector('#buttonSubmit');

        btn.addEventListener('click', event => {

            event.preventDefault();//不讓submit運作
            // 檢查是否存在 CKEditor 實例
            if (editorInstance) {
                // 將 CKEditor 5 的內容設定為 textarea 的值
                const descriptionTextarea = document.querySelector('#fDescription');
                descriptionTextarea.value = editorInstance.getData();

                if (validateForm()) {
                    //傳整個Form的資料
                    const formData = new FormData(document.querySelector('#classForm'));

                    fetch('@Url.Content("~/apiTClass/Edit")', {
                        method: 'POST',
                        body: formData
                    })
                        .then(response => {
                            if (response.ok) {
                                alert("修改成功");
                                location.href = '@Url.Content("~/Members/Memberclass")';
                            }
                        })
                }
            } else {
                console.error('CKEditor 實例不存在或未正確加載。');
            }
                //if (validateForm()) {
                //    //傳整個Form的資料
                //    const formData = new FormData(document.querySelector('#classForm'));

                //    fetch('@Url.Content("~/apiTClass/Edit")', {
                //        method: 'POST',
                //        body: formData
                //    })
                //        .then(response => {
                //            if (response.ok) {
                //                alert("修改成功");
                //            location.href = '@Url.Content("~/Members/Memberclass")';
                //            }
                //        })
                //}
        })

            //預覽圖片///////////////////////////////////////////////////////////////////////

            var arrayBuffer;

            $("#formFile").bind("change", function () {
                var file = this.files[0];
                var allowType = "image.*";
                if (file.type.match(allowType)) {
                    //預覽
                    var reader = new FileReader();
                    reader.onload = function () {
                        arrayBuffer = this.result;
                        var blob = new Blob([arrayBuffer], {
                            type: "image/jpeg"
                        });
                        var urlCreator = window.URL || window.webkitURL;
                        var imageURL = urlCreator.createObjectURL(blob);
                        $("#imgPreview").attr("src", imageURL);
                    };
                    reader.readAsArrayBuffer(this.files[0]);
                }
                else {
                    alert("不支援的檔案類型");
                }
            });

        // 刪除課程///////////////////////

        document.getElementById('deleteButton').addEventListener('click', function () {
            var result = confirm("確定要刪除課程嗎？");

            if (result) {
                // 如果用戶確認刪除，則執行刪除操作
                var classId = @Model.FClassId; // 使用 Razor 語法獲取課程 ID
                fetch('@Url.Action("Delete", "apiTClass")/' + classId, {
                    method: 'DELETE'
                })
                .then(response => {
                    if (response.ok) {
                        alert("課程刪除成功");
                        location.href = '@Url.Content("~/Members/Memberclass")';
                        // 這裡可以重定向到某個頁面或執行其他操作
                    } else {
                        alert("課程刪除失敗");
                    }
                });
            }
        });
    </script>
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
}