@model IEnumerable<prjMusicBetter.Models.TMember>
@{
    ViewData["Title"] = "studentEdit";
}
<section class="playlist-section spad">
    <div class="container-fluid">
        <div class="section-title">
            <h1>課程學生一覽表</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        序號
                    </th>
                    <th>
                        用戶暱稱
                    </th>
                    <th>
                        連絡電話
                    </th>
                    <th>
                        電子信箱
                    </th>
                    <th>
                        自述
                    </th>
                    <th>
                        大頭貼
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                    foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>
                                @count
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FUsername)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FPhone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FEmail)
                            </td>
                            <td style="max-width: 250px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                @Html.Raw(item.FIntroduction.Length > 30 ? $"{item.FIntroduction.Substring(0, 30)}..." : item.FIntroduction)
                            </td>
                            <td>
                                <img src="~/img/Member/@item.FPhotoPath" width="100" height="100">
                            </td>
                            <td>
                                @Html.ActionLink("查看個人檔案", "Details", "MemberPage", new { id = item.FMemberId }, new { @class = "btn btn-success" })
                            </td>
                            <td>
                                <a href="javascript:void(0);" onclick="confirmAndDelete(@item.FMemberId, @ViewBag.Id)" class="btn btn-danger">踢出課程</a>
                            </td>

                            @*<td>
                    @Html.ActionLink("刪除", "Delete", "Product", new { id = item.FId },
                    new { onclick = "return confirm('確定要刪除嗎?')" })
                    </td>*@
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>
 @section Scripts {
    <script>
        function confirmAndDelete(memberId, classId) {
            if (confirm('確定要刪除嗎?')) {
                // 使用 AJAX 呼叫 API
                $.ajax({
                    type: 'Post',
                    url: `/apiTClass/delDeal?id=${memberId}&classId=${classId}`,
                    success: function (result) {
                        alert('成功刪除');
                        // 重新整理當前頁面
                        location.reload();
                    },
                    error: function () {
                        alert('刪除失敗');
                        location.reload() || history.back();
                    }
                });
            }
        }
    </script>
 }