@model prjMusicBetter.Models.TClass
@{
    ViewData["Title"] = "Viewclass";
}

<style>
    .body-container {
        width: 80%;
        max-width: 1100px;
        margin: auto;
        padding: 0;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .course-title {
        margin: 10px auto;
        margin-left: 20px;
        font-size: 26px;
        font-weight: bold;
    }

    .detail-block {
        margin-bottom: 10px;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        color: #555;
        text-align: center;
    }

    .detail-title {
        font-weight: bolder;
        border-bottom: 2px solid #fc0254;
        padding-bottom: 10px;
        margin: 20px 0;
        margin-bottom: 10px;
        text-align: left;
    }

    .title-container {
        position: relative;
        background: #FFF;
        padding: 15px;
        border-radius: 0 0 3px 3px;
    }

    .course-container {
        width: 80%;
        margin: 50px auto 20px auto;
        overflow: hidden;
    }

    section {
        background-size: auto;
    }

    .teacher-title {
        font-size: 18px;
        color: #888;
    }

    .profile-wrapper {
        width: 150px;
        height: 150px;
        margin: 10px auto;
    }

    .teacher-name {
        text-align: center;
        font-size: 22px;
        color: #555;
        font-weight: bold;
        margin: 10px 0;
    }

    .teacher-intro {
        text-align: left;
        display: none;
        margin: 20px;
        color: #555;
        white-space: pre-wrap;
    }

    .teacher-seemore {
        text-align: center;
        display: block;
        margin: 20px;
    }

    .songs-details-section {
        padding: 50px 38px 50px;
        background: #f9fcfd;
    }

    .teacher-profile-container {
        text-align: center;
        display: block;
        margin-top: 10px;
    }

    .price {
        text-align: center;
        font-size: 22px;
        color: #555;
        font-weight: bold;
        margin: 50px auto 30px auto;
    }

    .btm {
        height: 60px;
        min-width: 167px;
        right: 0;
        top: 0;
        border: none;
        border-radius: 80px;
        color: #fff;
        font-size: 15px;
        background: #fc0254;
        text-align: center;
        clear: both;
    }
</style>
<!-- Player section -->
<section class="player-section" style="background-image: url('/img/classimg/class_bg.jpg');">
    <div class="player-box">
        <div class="tarck-thumb-warp">
            <div class="tarck-thumb">
                <img alt="輕鬆學配樂！" src="~/img/classimg/1.jpg">
            </div>
        </div>
        <div class="wave-player-warp">
            <div class="wave-player-info">
                <h2>@Model.FClassName</h2>
                <h4 style="color:gray;">類型：配樂</h4>
            </div>
        </div>
    </div>
</section>
<!-- Player section end -->
<div class="container body-container">
    <div class="row">
        <div class="col-md-6">
            <div class="detail-block">
                <a asp-area="" asp-controller="Members" asp-action="Profile1">
                    <h3 class="detail-title">授課導師</h3>
                    <div class="profile-wrapper">
                        <img src="https://bonbonmusic-prod.s3.amazonaws.com/profile_pics/5e64a14454b8d" alt="Julianna">
                    </div>
                    <h2 class="teacher-name">@Model.FTeacher</h2>
                    @ViewBag.teacher
                    <span class="teacher-seemore"><span class="glyphicon glyphicon-triangle-right"></span>點此看更多老師資訊</span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="detail-block" style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
                <h3 class="detail-title">課程資訊</h3>
                <h2 class="price">價格</h2>
                <h2 style="text-align: center">@(Math.Round((decimal)Model.FPrice))/每堂</h2>
                <h2 class="price">日期</h2>
                <h2 style="text-align: center">@Model.FStartdate</h2>
                <h2 style="text-align: center">~</h2>
                <h2 style="text-align: center">@Model.FEnddate</h2>
                <div>
                    <form asp-controller="Class" asp-action="Createclass" method="get" style="text-align: center; margin: 20px auto;">
                        <button name="createClass" class="btm">購買課程</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Songs details section -->
    <section class="songs-details-section">
        <div class="detail-block">
            <h3 class="detail-title">課程簡介</h3>
            <span class="detail-wrapper">
                @Model.FDescription
            </span>
        </div>
    </section>
</div>
<div class="course-container">
    <!-- Similar Songs section -->
    <section class="similar-songs-section">
        <div class="container-fluid">
            <h3>你可能會想看的其他課程</h3>
            @{
                if (@Model.FClassId < (ViewBag.AllClass - 2))
                {
                    <div class="row playlist-area">
                        <div class="mix col-lg-3 col-md-4 col-sm-6 movies">
                            <a asp-area="" asp-controller="Class" asp-action="Viewclass" asp-route-id="@(Model.FClassId + 1)">
                                <div class="playlist-item">
                                    <img src="/img/classimg/2.jpg" alt="">
                                    <h5>@ViewBag.PrClass</h5>
                                </div>
                            </a>
                        </div>
                        <div class="mix col-lg-3 col-md-4 col-sm-6 movies">
                            <a asp-area="" asp-controller="Class" asp-action="Viewclass" asp-route-id="@(Model.FClassId + 2)">
                                <div class="playlist-item">
                                    <img src="~/img/classimg/3.jpg" alt="">
                                    <h5>@ViewBag.SenClass</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row playlist-area">
                        <div class="mix col-lg-3 col-md-4 col-sm-6 movies">
                            <a asp-area="" asp-controller="Class" asp-action="Viewclass" asp-route-id="@(Model.FClassId - 1)">
                                <div class="playlist-item">
                                    <img src="/img/classimg/2.jpg" alt="">
                                    <h5>@ViewBag.PrClass</h5>
                                </div>
                            </a>
                        </div>
                        <div class="mix col-lg-3 col-md-4 col-sm-6 movies">
                            <a asp-area="" asp-controller="Class" asp-action="Viewclass" asp-route-id="@(Model.FClassId - 2)">
                                <div class="playlist-item">
                                    <img src="~/img/classimg/3.jpg" alt="">
                                    <h5>@ViewBag.SenClass</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
    </section>
    <!-- Similar Songs section end -->
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}