@model prjMusicBetter.Models.TClass
@{
    ViewData["Title"] = "Viewclass";
}

<style>
    .body-container {
        width: 80%;
        max-width: 1100px;
        margin: auto;
        padding: 0;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .course-title {
        margin: 10px auto;
        margin-left: 20px;
        font-size: 26px;
        font-weight: bold;
    }

    .detail-block {
        margin-bottom: 10px;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        color: #555;
        text-align: center;
    }

    .detail-title {
        font-weight: bolder;
        border-bottom: 2px solid #fc0254;
        padding-bottom: 10px;
        margin: 20px 0;
        margin-bottom: 10px;
        text-align: left;
        max-width: 300px;
    }

    .title-container {
        position: relative;
        background: #FFF;
        padding: 15px;
        border-radius: 0 0 3px 3px;
    }

    .course-container {
        width: 80%;
        margin: 50px auto 20px auto;
        overflow: hidden;
    }

    section {
        background-size: auto;
    }

    .teacher-title {
        font-size: 18px;
        color: #888;
    }

    .profile-wrapper {
        width: 150px;
        height: 150px;
        margin: 10px auto;
    }

    .teacher-name {
        text-align: center;
        font-size: 22px;
        color: #555;
        font-weight: bold;
        margin: 10px 0;
    }

    .teacher-intro {
        text-align: left;
        display: none;
        margin: 20px;
        color: #555;
        white-space: pre-wrap;
    }

    .teacher-seemore {
        text-align: center;
        display: block;
        margin: 20px;
    }

    .songs-details-section {
        padding: 50px 38px 50px;
        background: #f9fcfd;
    }

    .teacher-profile-container {
        text-align: center;
        display: block;
        margin-top: 10px;
    }

    .price {
        text-align: center;
        font-size: 22px;
        color: #555;
        font-weight: bold;
        margin: 50px auto 30px auto;
    }

    .btm {
        height: 60px;
        min-width: 167px;
        right: 0;
        top: 0;
        border: none;
        border-radius: 80px;
        color: #fff;
        font-size: 15px;
        background: #fc0254;
        text-align: center;
        clear: both;
    }

    .teacher-profile-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* 水平居中 */
        text-align: center; /* 文字水平居中 */
    }

    .profile-wrapper {
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 100px; /* 加入底部間距，防止與下方文字疊在一起 */
    }

    .teacher-info {
        max-width: 500px; /* 根据需要调整最大宽度 */
        /*word-wrap: break-word;  允许单词内换行 */
        overflow-wrap: break-word; /* 允许单词内换行，兼容性更好的属性 */
    }

    .scroll-to-top-btn {
        position: fixed;
        bottom: 50px;
        right: 50px;
        background-color: #fc0254;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 40px;
        display: none;
        z-index: 999; /* 將按鈕置於最上層 */
    }

        .scroll-to-top-btn i {
            font-size: 40px;
            position: fixed;
            z-index: 1000; /* 將 <i> 元素置於最上層 */
        }
</style>
<section id="title" class="player-section" style="background-image: url('/img/classimg/class_bg.jpg');">
    <div class="player-box">
        <div class="tarck-thumb-warp">
            <div class="tarck-thumb">
                <img alt="輕鬆學配樂！" src="~/img/classimg/@Model.FThumbnailPath">
            </div>
        </div>
        <div class="wave-player-warp">
            <div class="wave-player-info">
                <h2>@Model.FClassName</h2>
                <h4 style="color:gray;">類型：@ViewBag.skillname</h4>
                    @if (Model.FOnLine == 0)
                    {
                        <h4 style="color:gray;">場地：@ViewBag.SiteName</h4>
                        <h4 style="color:gray;">地點：@ViewBag.Address</h4>
                    }
                    else if (Model.FOnLine == 1)
                    {
                        <h4 style="color:gray;">場地：線上課程</h4>
                    }
            </div>

        </div>
    </div>
</section>
<div id="bodydiv" class="container body-container">
    <div class="row">
        <div class="col-md-6">
            <div class="detail-block">
                <a href="@Url.Content("~/MemberPage/Details")/@Model.FTeacherId">
                    <h3 class="detail-title">授課導師</h3>
                    <div class="profile-wrapper">
                        <img src="~/img/Member/@(ViewBag.teacherimg)">
                    </div>
                    <h2 class="teacher-name">@(ViewBag.Name)</h2>
                    <div class="teacher-info">
                        <p>@ViewBag.teacher</p>
                    </div>
                    <span class="teacher-seemore"><span class="glyphicon glyphicon-triangle-right"></span>點此看更多老師資訊</span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="detail-block" style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
                <h3 class="detail-title">課程資訊</h3>
                <h2 class="price">價格</h2>
                <h3 style="text-align: center">@(Math.Round((decimal)Model.FPrice))/每堂</h3>
                <h2 class="price">日期</h2>
                <h3 style="text-align: center">@Model.FStartdate</h3>
                <h3 style="text-align: center">~</h3>
                <h3 style="text-align: center">@Model.FEnddate</h3>
                <h2 class="price">報名人數</h2>
                <h3 style="text-align: center">@Model.FCurrentStudent/@Model.FMaxStudent</h3>
                @if (Model.FCurrentStudent != 0)
                {
                    <a href="@Url.Action("student", "Class", new { id = Model.FClassId })" class="btn btn-primary">
                        查看已購買學生
                    </a>
                }
                <div>
                    <button name="createClass" onclick="@((bool)ViewBag.DealClass ? "alreadybuy()" : "checkQuota()")" class="btm" style="background-color: @(ViewBag.DealClass == true ? "#fc0254" : "#0080FF");">
                        @((bool)ViewBag.DealClass ? "已購買課程" : "購買課程")
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Songs details section -->
    <section class="songs-details-section">
        <div class="detail-block">
            <h3 class="detail-title">課程簡介</h3>
            <span class="detail-wrapper" style="text-align: left;">
                @Html.Raw(Model.FDescription)
            </span>
        </div>
    </section>
</div>
<div id="order" class="course-container">
    <!-- Similar Songs section -->
    <section class="similar-songs-section">
        <div class="container-fluid">
            <h3>你可能會想看的同類型其他課程</h3>
            <div id="divList" class="row playlist-area">
            <!--List內容-->
            </div>
        </div>
    </section>
    <!-- Similar Songs section end -->
</div>
<div id="scrollToTopBtn" class="scroll-to-top-btn">
    <i></i>
    ▲回到上方
</div>
@section Scripts {
    <script>
        function checkQuota() {
            // 檢查是否符合課程名額條件
            if (@Model.FCurrentStudent < @Model.FMaxStudent) {
                // 準備要傳送的資料，將 Razor 模型轉換為 JSON 字串

                var postData = {
                    ProductId: @Model.FClassId,
                   
                };

                // 符合條件，執行頁面跳轉
                $.ajax({
                    type: "POST",
                    url: "/apiShoppingCart/AddClassToCart", // 修改成你的 API 端點
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(postData),
                    success: function (response) {
                        // 處理成功的回應
                        alert(response.message);
                        // 刷新購物車Icon
                        UpdateShoppingCartIcon();
                    },
                    error: function (error) {
                        // 處理錯誤
                        alert(response.message);
                    }
                });

                return true;
            } else {
                // 不符合條件，顯示提醒並阻止表單提交
                alert("不好意思，課程名額已滿");
                return false;
            }
        }
        function alreadybuy() {
            alert("您已購買此課程");
        }

        function firstLoad(pageNumber) {
                const divList = $('#divList')
                //讀取Json資料
                const SkillId = @Model.FSkillId
                console.log(SkillId);
                $.getJSON(`/apiTClass/QueryBySkillID?id=${SkillId}`, function (datas) {
                    console.log(datas);

                    //獲得限定頁面資料
                    //slice(a,b) 陣列datas第a項到第b項的所有資料
                    //這裡是第0項到第4項
                    const limitdatas = datas.slice(0, 4);

                    //做出一個空的容器來存放div
                    const docFrag = $(document.createDocumentFragment())

                    //讀出每個Json物件
                    $.each(limitdatas, function (index, item) {
                        //const descriSub = item.fDescription.length > 15 ? item.fDescription.substring(0, 15) + '...' : item.fDescription;
                        const card = $(
                            `<div class="mix col-lg-3 col-md-4 col-sm-6 genres">
                                <a href="/Class/Viewclass?id=${item.fClassId}">
                                    <div class="playlist-item">
                                        <img src="/img/classimg/${item.fThumbnailPath}" alt="">
                                        <h5>${item.fClassName}</h5>
                                    </div>
                                </a>
                            </div>`);
                        docFrag.append(card);//.append()將一筆div放入容器中
                    })
                    divList.html(docFrag)//.html()一次將全部的資料都上傳
                })
        }
        firstLoad(1);

        //▲回到上方
        document.addEventListener("DOMContentLoaded", function () {
            var scrollToTopBtn = document.getElementById("scrollToTopBtn");

            window.onscroll = function () {
                // 顯示或隱藏按鈕根據滾動位置
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    scrollToTopBtn.style.display = "block";
                } else {
                    scrollToTopBtn.style.display = "none";
                }
            };

            scrollToTopBtn.addEventListener("click", function () {
                // 捲動到頁面頂部
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}