@model prjMusicBetter.Models.TProject

@{
    ViewData["Title"] = "Details";
}
<style>
    .body-container {
        width: 80%;
        max-width: 1100px;
        margin: auto;
        padding: 0;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .course-title {
        margin: 10px auto;
        margin-left: 20px;
        font-size: 26px;
        font-weight: bold;
    }

    .detail-block {
        margin-bottom: 10px;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        color: #555;
        text-align: center;
    }

    .detail-title {
        font-weight: bolder;
        border-bottom: 2px solid #fc0254;
        padding-bottom: 10px;
        margin: 20px 0;
        margin-bottom: 10px;
        text-align: left;
    }

    .title-container {
        position: relative;
        background: #FFF;
        padding: 15px;
        border-radius: 0 0 3px 3px;
    }

    .course-container {
        width: 80%;
        margin: 50px auto 20px auto;
        overflow: hidden;
    }

    section {
        background-size: auto;
    }

    .teacher-title {
        font-size: 18px;
        color: #888;
    }

    .profile-wrapper {
        width: 150px;
        height: 150px;
        margin: 10px auto;
    }

    .teacher-name {
        text-align: center;
        font-size: 22px;
        color: #555;
        font-weight: bold;
        margin: 10px 0;
    }

    .teacher-intro {
        text-align: left;
        display: none;
        margin: 20px;
        color: #555;
        white-space: pre-wrap;
    }

    .teacher-seemore {
        text-align: center;
        display: block;
        margin: 20px;
    }

    .songs-details-section {
        padding: 50px 38px 50px;
        background: #f9fcfd;
    }

    .teacher-profile-container {
        text-align: center;
        display: block;
        margin-top: 10px;
    }

    .price {
        text-align: center;
        font-size: 22px;
        color: #555;
        font-weight: bold;
        margin: 50px auto 30px auto;
    }

    .btm {
        height: 60px;
        min-width: 167px;
        right: 0;
        top: 0;
        border: none;
        border-radius: 80px;
        color: #fff;
        font-size: 15px;
        background: #fc0254;
        text-align: center;
        clear: both;
    }

    p {
        word-wrap: break-word;
    }
</style>
<!-- Intro section -->
<input type="hidden" id="styleId" value="@Html.DisplayFor(model => model.FStyleId)" />
<input type="hidden" id="memberId" value="@Html.DisplayFor(model => model.FMemberId)" />
<input type="hidden" id="budget" value="@Html.DisplayFor(model => model.FBudget)" />
<input type="hidden" id="pID" value="@Html.DisplayFor(model => model.FProjectId)" />
<input type="hidden" id="loginId" value="@ViewBag.MemberId" />

<section id="title" class="player-section" style="background-image: url('/img/playlist/img4.jpg');">

    <div class="player-box">
        <div class="tarck-thumb-warp">
            <div class="tarck-thumb">
                <img alt="" src="~/img/project/@Html.DisplayFor(model => model.FThumbnailPath)" width="300px" height="300px">
            </div>
        </div>
        <div class="wave-player-warp">
            <div class="row wave-player-info">
                <div class="col-10">
                    <h2>@Model.FName</h2>
                    <div class="mb-3"></div>
                    <h5 id="txtskill" style="color:gray;"></h5>
                    <h4 style="color:gray;"></h4>
                    <div class="mb-3"></div>
                    <p>@Html.DisplayFor(model => model.FDescription)</p>
                </div>
                <div class="col-2">

                    <button id="btnFev" class="btn btn-primary" >追蹤專案</button>
                    <div class="mb-2"></div>
                    <button id="btnAppli" class="btn btn-danger" style="display:block;" >應徵專案</button>
                    <div class="mb-2"></div>
                    <button id="btnEdit" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addModal" style="display:none;">修改專案</button>
                </div>
            </div>
        </div>
    </div>

</section>

<section>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div  >
                    <div class="card-body p-md-5">
	                    
	                    <div class="container">
		                    <div class="row">
                                <div class="col-lg-6">
                                    <h3>製作專案Demo</h3>
                                    <div class="mb-2"></div>
                                </div>
                                <div class="col-lg-12">             
                                    <div class="song-details-box">
                                        <!-- song -->
                                        <div class="song-item">
                                            <div class="row">
                                                <div class="col-xl-5 col-lg-12 col-md-5">
                                                    <div class="song-info-box">
                                                        @*<img src="~/img/songs/1.jpg" alt="">*@
                                                        <div class="song-info text-right">
                                                            <h4>@Html.DisplayFor(model => model.FDemoFilePath)</h4>
                                                            <p>One Night in Ibiza</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-7 col-lg-12 col-md-7">
                                                    <div class="single_player_container" >

                                                        <audio id="myAudio" controls style="width: 100%;">
                                                            <source src="~/ProjectDemo/@Html.DisplayFor(model => model.FDemoFilePath)" type="audio/mp3">
                                                            Your browser does not support the audio element.
                                                        </audio>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
		                    </div>
		
	                    </div>
	                    <div class="container">
		                    <div class="row">
			                    <div class="col-lg-3">
				                    <h3>製作專長需求</h3>
			                    </div>
			                    <div class="col-lg-12">
				                    <p>
					                    @Html.DisplayFor(model => model.FDescription2)
				                    </p>
			                    </div>
		                    </div>
	                    </div>
	                    <div class="container">
		                    <div class="row" id="memberInfo">
		                    </div>
	                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

<!-- Modal1 -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">修改專案 <span></span></h5>
                @*      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>*@
                @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">取消</button>*@
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" name="id" id="fProjectId" value="@Html.DisplayFor(model => model.FProjectId)">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div style="display: flex; justify-content: center; align-items: center; height: 230px;">
                                    <img id="imgPreview" style="height: 200px;" alt="">
                                </div>
                                <div style="display: flex; justify-content: center; align-items: center;">
                                    <input type="file" id="imgFile" name="formFilePhoto" @*class="btn btn-secondary"*@ @*style="display: none;"*@>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fName">製作名稱</label>
                                <input type="text" class="form-control" id="fName" name="fName">
                            </div>
                            <div class="form-group">
                                <label for="FBudget">預算</label>
                                <input type="text" class="form-control" id="fBudget" name="fBudget">
                            </div>
                            <div class="form-group">
                                <label for="FBudget">風格</label>
                                <select id="selectStyle" class="form-select" name="fStyleId"></select>
                            </div>
                            <div class="form-group">
                                <label for="FBudget">製作期限</label>
                                <input type="datetime-local" class="form-control" id="fEnddate" name="fEnddate">
                            </div>
                            
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="FBudget">製作描述</label>
                                <textarea class="form-control" id="fDescription" name="fDescription" style="height: 200px;"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="FBudget">專長需求</label>
                                <textarea class="form-control" id="fDescription2" name="fDescription2" style="height: 200px;"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="FBudget">上傳Demo</label>
                                <input type="file" id="demoFile" name="formFileDemo" @*style="display: none;"*@>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-file-x-fill"></i> 關閉</button>
                <button type="button" class="btn btn-primary" id="buttonSend"><i class="bi bi-send-check-fill"></i> 送出 </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal2 -->
<div class="modal fade" id="addModa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">應徵專案 <span></span></h5>
                @*      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>*@
                @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">取消</button>*@
            </div>
            <div class="modal-body">
                <form id="appliForm">
                    <input type="hidden" name="id" id="fProjectId" value="@Html.DisplayFor(model => model.FProjectId)">
                    <div class="row">                      
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="FBudget">自我介紹 : </label>                                
                                <textarea id="txtIntro" class="form-control" id="fDescription" name="fDescription" style="height: 200px;">製作人您好，我對這個職位有強烈興趣，希望能得到合作的機會，謝謝。</textarea>
                                <div class="mb-2"></div>
                                <button type="button" id="btnDefault" class="btn btn-secondary">套用會員介紹</button>
                            </div>                            
                        </div>
                    </div>
                    <div class="form-group">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-file-x-fill"></i> 取消</button>
                <button type="button" class="btn btn-primary" id="buttonSend"><i class="bi bi-send-check-fill"></i> 應徵 </button>
            </div>
        </div>
    </div>
</div>
<!-- Intro section end -->


@section Scripts{
	<script>
		const styleId = $('#styleId').val();
		const memberId = $('#memberId').val();
        const projectID = $('#pID').val();
        const loginID = $('#loginId').val();
        const btnEdit = document.getElementById('btnEdit');
        const btnAppli = document.getElementById('btnAppli');
        const btnFev = document.getElementById('btnFev');
        
        //取得風格資訊
		$.getJSON(`/apiTStyle/QueryById/${styleId}`, function (datas) {
			console.log(datas);
			$('#styleName').html(`製作風格 : ${datas[0].fName}`);
		})

        //根據登入狀況顯示按鈕        
        function DisplayButton(){ 
            if (loginID != 0){
                btnAppli.setAttribute('data-bs-toggle', 'modal');
                btnAppli.setAttribute('data-bs-target', '#addModa2');
            }
            if (loginID == memberId) {
                btnEdit.style.display = 'block';
                btnAppli.style.display = 'none';
                btnFev.style.display = 'none';
            }
        }
        DisplayButton();

        //取得會員資訊
		$.getJSON(`/apiTProjects/QueryMemberById/${memberId}`, function (datas) {
			console.log(datas);
			$('#memberInfo').html(`
				<div class="col-lg-6" >
					<h5>製作發案人 : ${datas.fUsername}</h5>
                    <div class="mb-3"></div>
                    <a class="btn btn-secondary" href="/MemberPage/Details/${datas.fMemberId}">更多發案人資訊</a>
				</div>
				<div class="col-lg-6" >
					<h5 class="text-right">聯絡電話 : ${datas.fPhone}<br>Email : ${datas.fEmail}</h5>
				</div>
				`);
		})
        //預算去小數點
        const budget = $('#budget').val();
        var roundedBudget = Math.floor(budget);
        $('#budgetDisplay').html(`預算 : ${roundedBudget}`);

        //Style選擇器
        const selStyle = document.querySelector('#selectStyle');
        async function loadStyle() {
            const response = await fetch('@Url.Content("~/apiTStyle/List")');
            const data = await response.json();

            const defaultOption = '<option>請選擇風格</option>';
            const styleOptions = data.map(s => `<option id="styOpt${s.fStyleId}" value="${s.fStyleId}">${s.fName}</option>`);
            styleOptions.unshift(defaultOption);
            selStyle.innerHTML = styleOptions.join("");

            document.getElementById(`styOpt${styleId}`).selected = true;
        }
        
        //按下修改按鈕
        $('#btnEdit').click(function () {
            loadStyle();
            //幫彈出視窗填入資料
            $.getJSON(`/apiTProjects/QueryById/${projectID}`, function (datas) {
                console.log(datas);
                $('#fName').val(datas.fName);
                $('#fBudget').val(datas.fBudget);
                $('#fEnddate').val(datas.fEnddate);
                $('#fDescription').text(datas.fDescription);
                $('#fDescription2').text(datas.fDescription2);
                $('#imgPreview').attr('src', `/img/project/${datas.fThumbnailPath}`);
            })
        })
        //圖片預覽
        var arrayBuffer;

        $("#imgFile").bind("change", function () {
            var file = this.files[0];
            var allowType = "image.*";
            if (file.type.match(allowType)) {
                //預覽
                var reader = new FileReader();
                reader.onload = function () {
                    arrayBuffer = this.result;
                    var blob = new Blob([arrayBuffer], {
                        type: "image/jpeg"
                    });
                    var urlCreator = window.URL || window.webkitURL;
                    var imageURL = urlCreator.createObjectURL(blob);
                    $("#imgPreview").attr("src", imageURL);
                };
                reader.readAsArrayBuffer(this.files[0]);
            }
            else {
                alert("不支援的檔案類型");
            }
        });

        //修改資料
        $('#buttonSend').click(function () {
            const formData = new FormData(document.querySelector('#editForm'));
            fetch('@Url.Content("~/apiTProjects/Edit")' + '/' + projectID, {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    alert("修改成功");
                    location.href = '@Url.Content("~/Project/Details/")' + projectID;
                }
                else{
                    alert("連線失敗");
                }
            })
        })

        //套用預設自我介紹
        $('#btnDefault').click(function () {
            $.getJSON(`/apiTProjects/QueryMemberById/${memberId}`, function (datas) {
                $('#txtIntro').val(datas.fIntroduction);
            })
        })
        //判斷是否登入
        async function CheckLoginAndNavigate(btnID) {
            const response = await fetch(`@Url.Content("~/apiHome/IsLogin")`);
            const isLogin = await response.json();

            if (isLogin) {
                if(btnID == 2)
                {
                    console.log('hahahahahahahaha');
                }
            } else {
                // 如果未登錄，導航到 Home/Login
                window.location.href = "@Url.Action("Login", "Home")";
            }
        }

        btnAppli.addEventListener('click', function () {
            CheckLoginAndNavigate(1);
        });

        btnFev.addEventListener('click', function () {
            CheckLoginAndNavigate(2);
        });
	</script>
}