@model prjMusicBetter.Models.TSite

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout2";
}
<main id="main" class="main">
<h1>Details</h1>

<div>
    <h4>TSite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FSiteName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FSiteName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FSiteType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FSiteType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FCity.FCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMember)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMember.FName)
        </dd>
        <dt class="col-sm-2">
            場地圖片
        </dt>
        @*<dd class="col-sm-10">
                @if (!string.IsNullOrEmpty(FPicture))
                {
                    <img src="@Url.Content("~/img/" + FPicture)" alt="Coupon Image" style="width:100px; height:auto;" />

                }
                  沒有圖片顯示No Image 
                else
                {
                    @:No Image
                }
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FSiteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</main>

@section Scripts {
    <script>
        async function loadImage() {
            try {
                // 使用 Razor 語法獲取 SiteId 和 ImageData
                const siteDetails = @Html.Raw(Json.Serialize(ViewData["SiteDetails"]));

                // 創建 img 元素
                const imgElement = document.createElement('img');

                // 設置圖片的 src 為 Base64 字串
                imgElement.src = `data:image/jpeg;base64,${siteDetails.ImageData}`;

                // 將 img 元素添加到適當的位置，這裡使用 imgContainer 作為容器
                document.querySelector('#imgContainer').appendChild(imgElement);
            } catch (error) {
                console.error('載入圖片時發生錯誤:', error);
            }
        }

        // 在 Razor 頁面加載完成後調用 loadImage 函數
        document.addEventListener('DOMContentLoaded', loadImage);
    </script>
}