@model prjMusicBetter.Models.ViewModels.FriendsViewModel

<script src="https://cdn.tailwindcss.com"></script>
<style>
    .hover\:color-coral:hover {
        color: coral;
    }

    .rounded-td {
        border-radius: 0.375rem; /* This is Tailwind's 'rounded-md' utility equivalent */
    }
</style>


<body class="bg-gray-100">
    <div class="container mx-auto p-6">
        <!-- Search Section -->
        <div class="flex mb-4 items-center">
            <div class="flex border border-gray-300 rounded overflow-hidden">
                <label for="search" class="block text-gray-700 p-2 bg-white">搜尋關鍵字:</label>
                <input type="text" id="search" placeholder="請輸入關鍵字" class="p-2" />
                <button type="button" id="searchButton" class="bg-blue-500 hover:bg-blue-700 text-white p-2">搜尋</button>
            </div>
        </div>

        <!-- Table Section -->
        <div class="bg-white shadow rounded-md overflow-hidden">
            <table class="w-full">
                <thead class="bg-gray-50">
                    <tr class="bg-yellow-300">
                        <th class="text-center py-2">姓名</th>
                        <th class="text-center py-2">電話號碼</th>
                        <th class="text-center py-2">信箱</th>
                        <th class="text-center py-2">性別</th>
                        <th class="text-center py-2">生日</th>
                        <th class="text-center py-2">照片</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BlackList)
                    {
                        <tr class="hover:bg-gray-100 hover:color-coral">
                            <td class="py-2 px-4 rounded-td">
                                @Html.DisplayFor(modelItem => item.FName)
                            </td>
                            <td class="py-2 px-4 rounded-td">
                                @Html.DisplayFor(modelItem => item.FPhone)
                            </td>
                            <td class="py-2 px-4 rounded-td">
                                @Html.DisplayFor(modelItem => item.FEmail)
                            </td>
                            <td class="py-2 px-4 rounded-td">
                                @Html.DisplayFor(modelItem => item.FGender)
                            </td>
                            <td class="py-2 px-4 rounded-td">
                                @Html.DisplayFor(modelItem => item.FBirthday)
                            </td>
                            <td class="py-2 px-4 rounded-td">
                                @if (!string.IsNullOrEmpty(item.FPhotoPath))
                                {
                                    <img src="@Url.Content("~/img/Member/" + item.FPhotoPath)" alt="Member Image" class="w-24 h-auto rounded" />
                                }
                                else
                                {
                                    @:No Image
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>