@model prjMusicBetter.Models.Dtos.FMemberDto
@{
    ViewData["Title"] = "MemberInfo";
}

<script src="https://cdn.tailwindcss.com"></script>

<body class="bg-gray-100">
    <div class="container mx-auto p-6">
        <div class="bg-white shadow-lg rounded-lg p-6">
            <h2 class="text-3xl font-bold text-gray-900 border-b-2 border-gray-100 pb-4">個人資料</h2>
            <form method="post" class="space-y-4">
                <input type="hidden" name="MemberId" value="@Model.FMemberID">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div class="flex items-center">
                        <div class="block text-right w-24 font-bold mr-2">姓名:</div>
                        <div class="flex-grow">@Model.FName</div>
                    </div>
                    <div class="flex items-center">
                        <label class="block text-right w-24 font-bold mr-2">生日:</label>
                        <div class="flex-grow">@Model.FBirthday</div>
                    </div>
                    <div class="flex items-center">
                        <label class="block text-right w-24 font-bold mr-2">信箱:</label>
                        <div class="flex-grow">@Model.FEmail</div>
                    </div>
                    <div class="flex items-center">
                        <label class="block text-right w-24 font-bold mr-2">電話:</label>
                        <div class="flex-grow">@Model.FPhone</div>
                    </div>
                    <div class="flex items-center col-span-1 md:col-span-2">
                        <label class="block text-right w-24 font-bold mr-2">性別:</label>
                        <div class="flex-grow">@Model.FGender</div>
                    </div>
                </div>
                <div class="flex justify-center mt-6">
                    <input type="submit" value="修改個人資料" class="btn btn-dark btnEdit" data-id="@Model.FMemberID">
                    <a href="@Url.Content("~/Home/Index")" class="btn btn-dark">回首頁</a>
                </div>
            </form>
        </div>
    </div>
</body>


