@model prjMusicBetter.Models.Dtos.FMemberDto
@{
    ViewData["Title"] = "MemberInfo";
}

<div class="col-9  p-2" id="divPartial">
    <form method="post">
        <div class="container">
            <div class="m-3 fs-3 fw-bold  border-bottom py-4 ">個人資料</div>
            <div class="p-2 ">
                <input type="hidden" name="MemberId" value="@Model.FMemberID">
                <div class="row justify-content-around p-3">

                    <div class="pt-2 d-flex col-6 align-items-center">
                        <div class=" width-90px text-end fw-bold">姓名 :</div>
                        <div class="mx-2">
                            @Model.FName
                        </div>
                    </div>
                    <div class="pt-2 d-flex col-6 align-items-center">
                        <div class=" width-90px text-end fw-bold">生日 :</div>
                        <div class="mx-2">
                            @Model.FBirthday
                        </div>
                    </div>
                </div>
                <div class="row justify-content-around p-3">
                    <div class="pt-2 d-flex col-6 align-items-center">
                        <div class=" width-90px text-end fw-bold">信箱 :</div>
                        <div class="mx-2">
                            @Model.FEmail
                        </div>
                    </div>
                    <div class="pt-2 d-flex col-6 align-items-center">
                        <div class=" width-90px text-end fw-bold">電話 :</div>
                        <div class="mx-2">
                           @Model.FPhone
                        </div>
                    </div>

                </div>
                <div class="pt-2 d-flex col-6 align-items-center  p-3 mt-3">
                    <div class=" width-90px text-end fw-bold">性別 :</div>
                    <div class="mx-2">
                        @Model.FGender
                    </div>
                </div>
                <div class="pt-2 d-flex col-6 align-items-center  p-3 mt-3">
                    <div class=" width-90px text-end fw-bold">使用者姓名 :</div>
                    <div class="mx-2">
                        @Model.FUsername
                    </div>
                </div>
            </div>
            <div class="justify-content-around p-5">
                <div class="text-center">
                    <a href="@Url.Action("ProfileEdit", "Member")" class="btn btn-dark p-2 px-4 btnEdit" data-id="4">修改個人資料</a>
                    @*<input type="submit" value="修改個人資料" class="btn btn-dark p-2 px-4 btnEdit" data-id="4">*@
                    <a href="@Url.Content("~/Home/Index")" class="btn btn-dark">回首頁</a>
                </div>
            </div>
        </div>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8HQovWu9wfZBnLgpt5k7BlUBqt_o4XyyVbyc2vg0tffnMuLqTvxn77jdU8k0bSIFXla1UNXH9GX5Pkyia_lxvHi7TYTlBlr0ytkaL4n-312QAjLEmFmiAX4J6FMdTeXBysN19XNxJP1fxx30rUtbDY2bysWp1aviFk0dFjFbFwr3PFg8lI82D4oXRiEwGT8XfQ">
    </form>
</div>

