@model prjMusicBetter.Models.TClass

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout2";
}
<main id="main" class="main">
<h1>課程內容</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
                課程名稱
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FClassName)
        </dd>
        <dt class = "col-sm-2">
                單堂價格
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPrice)
        </dd>
        <dt class = "col-sm-2">
                課程說明
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FDescription)
        </dd>
        <dt class = "col-sm-2">
                開始日期
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FStartdate)
        </dd>
        <dt class = "col-sm-2">
                結束日期
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FEnddate)
        </dd>
        <dt class = "col-sm-2">
                圖片名稱
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FThumbnailPath)
        </dd>
        <dt class = "col-sm-2">
                地點
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FSite.FSiteName)
        </dd>
        <dt class = "col-sm-2">
                教師
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FTeacher.FName)
        </dd>
            <dt class="col-sm-2">
                最大人數
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FMaxStudent)
            </dd>
            <dt class="col-sm-2">
                目前人數
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FCurrentStudent)
            </dd>
            <dt class="col-sm-2">
                課程類型
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FSkill.FName)
            </dd>
            <dt class="col-sm-2">
                上課方式
            </dt>
            <dd class="col-sm-10">
                @{
                    var onLineValue = Model.FOnLine;
                    var displayText = (onLineValue == 0) ? "實體課程" : "線上課程";
                }

                @*@Html.DisplayFor(model => model.FOnLine)*@
                @displayText
            </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FClassId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</main>