@model IEnumerable<prjMusicBetter.Models.TClass>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout2";
}
<style>
    .table > thead > * > * {
        background-color: lightskyblue;
    }

    .btn {
        border-radius: 10px;
        background-color: lightgreen;
    }

    .truncate-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px; /*設定最大寬度，根據實際需求調整 */
    }
</style>
<main id="main" class="main">
<h1>課程管理</h1>
<p>
        <a asp-action="Create" class="btn">新增課程</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                課程名稱
            </th>
            <th>
                單堂價格
            </th>
            <th>
                課程說明
            </th>
            <th>
                開始日期
            </th>
            <th>
                結束日期
            </th>
            <th>
                圖片名稱
            </th>
            <th>
                地點ID
            </th>
            <th>
                教師ID
            </th>
            <th>
                最大人數
            </th>
            <th>
                目前人數
            </th>
            <th>
                課程類型
            </th>
            <th>
                上課方式
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FPrice)
            </td>
            <td>
                <div class="truncate-text">
                    @Html.DisplayFor(modelItem => item.FDescription)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FStartdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FEnddate)
            </td>
            <td>
                <div class="truncate-text">
                    @Html.DisplayFor(modelItem => item.FThumbnailPath)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FSite.FSiteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FTeacher.FMemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FMaxStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FCurrentStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FSkill.FName)
            </td>
            <td>
                        @{
                            var onLineValue = item.FOnLine;
                            var displayText = (onLineValue == 0) ? "實體課程" : "線上課程";
                        }
                        @displayText
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FClassId" class="btn">修改</a> |
                <a asp-action="Details" asp-route-id="@item.FClassId" class="btn">課程內容</a> |
                <a asp-action="Delete" asp-route-id="@item.FClassId" class="btn">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
</main>