@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero section -->
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item">           
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hs-text">
                            <h2><span>聆聽 </span> 好聲音 </h2>
                            <p> 很久沒找到能讓你感動的好聲音嗎? 來這裡就對了!!! </p>
                            <a href="@Url.Action("List","MusicShare")" class="site-btn">音樂探索</a>
                            <a href="@Url.Action("List","Article")" class="site-btn sb-c2">好文分享</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hr-img">
                            <img src="~/img/hero-bg.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hs-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hs-text">
                            <h2><span>創造</span> 好音樂 </h2>
                            <p> 優秀的音樂人才都在這，無論是混音師、作詞家、歌手都在這。在這完成你心目中最讚的音樂。 </p>
                            <a href="@Url.Action("List","Project")" class="site-btn">找專案?</a>
                            <a href="@Url.Action("Place","Place")" class="site-btn sb-c2">找場地?</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hr-img">
                            <img src="~/img/music_vj.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hs-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hs-text">
                            <h2><span>發現 </span> 新曲目 </h2>
                            <p> 最新的創作都在這裡，讓你有新發現!!! </p>
                            <a href="@Url.Action("List","MusicShare")" class="site-btn">音樂探索</a>
                            <a href="@Url.Action("List","Blog")" class="site-btn sb-c2">好文分享</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hr-img">
                            <img src="~/img/music_ongaku_kansyou.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hs-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hs-text">
                            <h2><span>享受 </span> 好演出 </h2>
                            <p> 這裡有實力強勁的師資和場地，成就自己表演能力!!! </p>
                            <a href="@Url.Action("index","Class")" class="site-btn">找課程?</a>
                            <a href="@Url.Action("Place","Place")" class="site-btn sb-c2">找場地?</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hr-img">
                            <img src="~/img/music_band_visual.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero section end -->
<!-- Intro section -->

<section class="intro-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>無限創意曲庫</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <p>這邊匯集了所有創作者創意完成的許多曲目，值得您來品味一番。</p>
                <a href="@Url.Action("List","MusicShare")" class="site-btn">音樂探索</a>
            </div>
            <div src="~/img/header/icons8-chat.gif">
                <a class="nav-link text-white nav-text" asp-area="" asp-controller="Chat" asp-action="Index">Chat</a>
                <a href="@Url.Action("List","Comment")"><img src="~/img/header/icons8-chat.gif" /></a>
            </div>
        </div>
    </div>
</section>
<!-- Intro section end -->
<!-- How section -->
<section class="how-section spad set-bg" data-setbg="img/how-to-bg.jpg">
    <div class="container text-white">
        <div class="section-title">
            <h2>我們的服務</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="how-item">
                    <div class="hi-icon">
                        <a href="@Url.Action("Register","Home")"><img src="~/img/icons/brain.png" alt=""></a>
                    </div>
                    <h4>註冊帳號</h4>
                    <p> 註冊帳號可以享有我們這邊的相關服務，比如找音樂、找樂手、找老師、找曲風。 </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="how-item">
                    <div class="hi-icon">
                        <a href="@Url.Action("List","Project")"><img src="~/img/icons/pointer.png" alt=""></a>
                    </div>
                    <h4>找專案</h4>
                    <p> 有未完成的創作嗎? 有靈感但缺項目嗎? 有能力但缺乏發揮空間嗎? 這邊幫你實現。 </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="how-item">
                    <div class="hi-icon">
                        <a href="@Url.Action("List","MusicShare")"><img src="~/img/icons/smartphone.png" alt=""></a>
                    </div>
                    <h4>找曲目</h4>
                    <p>很久沒找到能讓你感動的好聲音嗎? 來這裡就對了!!! </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How section end -->
<!-- Concept section -->
<section class="concept-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>理念</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <p>我們的理念是</p>
                <p>做出讓每個人都感動的音樂，讓創作者們把靈感發揮極致。</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="concept-item">
                    <a href="@Url.Action("List","MusicShare")"><img src="~/img/concept/1.jpg" alt=""></a>
                    <h5>享受音樂</h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="concept-item">
                    <img src="~/img/concept/2.jpg" alt="">
                    <h5>演唱會場</h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="concept-item">
                    <a href="@Url.Action("List","Project")"><img src="~/img/concept/3.jpg" alt=""></a>
                    <h5>創意混音</h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="concept-item">
                    <a href="@Url.Action("index","Class")"><img src="~/img/concept/4.jpg" alt=""></a>
                    <h5>現場教學</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Concept section end -->
<!-- Subscription section -->
<section class="subscription-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="sub-text">
                    <h2>註冊會員</h2>
                    <h3></h3>
                    <p></p>
                    <a href="@Url.Action("Register","Home")" class="site-btn">註冊</a>
                    <a href="@Url.Action("Login","Home")" class="site-btn sb-c2">登入</a>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="sub-list">
                    <li><img src="~/img/icons/check-icon.png" alt="">播放任何創作</li>
                    <li><img src="~/img/icons/check-icon.png" alt="">線上欣賞音樂</li>
                    <li><img src="~/img/icons/check-icon.png" alt="">隨時無限切換</li>
                    <li><img src="~/img/icons/check-icon.png" alt="">享受最新創作</li>
                    <li><img src="~/img/icons/check-icon.png" alt="">參與執行專案</li>
                    <li><img src="~/img/icons/check-icon.png" alt="">租借演奏空間</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Subscription section end -->
<!-- Premium section end -->
<section class="premium-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>付費會員</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="premium-item">
                    <img src="~/img/premium/1.jpg" alt="">
                    <h4>沒有廣告干擾</h4>
                    <p>享受無廣告插入的聆聽時間</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="premium-item">
                    <img src="~/img/premium/2.jpg" alt="">
                    <h4>最高音質音樂</h4>
                    <p>彷彿待在錄音室現場聆聽</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="premium-item">
                    <img src="~/img/premium/3.jpg" alt="">
                    <h4>離線欣賞音樂</h4>
                    <p>無論有沒有網路都能欣賞音樂</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="premium-item">
                    <img src="~/img/premium/4.jpg" alt="">
                    <h4>下載音樂創作</h4>
                    <p>發現到喜歡的音樂千萬別錯過</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Premium section end -->
