@model prjMusicBetter.Models.ViewModels.LoginVM

@{
    ViewData["Title"] = "Login";
}
<script src="~/js/rainyday.min.js"></script>
<style>
    .vh-100 {
        background: url('@Url.Content("~/assets/img/background/Rain.jpg")') no-repeat center center fixed;
        background-size: cover;
        z-index: 0;
    }

    .card {
        background: rgba(255, 255, 255, 0.8); /* 半透明背景 */
        border-radius: 15px; /* 边框圆角 */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 盒子阴影 */
        z-index:2;
    }

    #rainy {
        position: fixed; /* or absolute */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1; /* Behind the content */
    }
    .btn-dark btn-outline-dark btn btn-outline-secondary {
        background-color: #000; /* 按钮背景颜色 */
        border-radius: 10px; /* 按钮的边框圆角 */
        color: #fff; /* 按钮文字颜色 */
        padding: 10px 20px; /* 按钮内边距 */
        font-size: 16px; /* 文字大小 */
        border: none; /* 去除边框 */
    }

    .form-control {
        border-radius: 10px; /* 输入框的边框圆角 */
        border: 1px solid #ccc; /* 输入框边框 */
        padding: 15px; /* 输入框内边距 */
    }

    #img1 {
        display: none;
    }

    .custom-form-container {
        max-width: 600px; /* 或者您希望的任何數值 */
        margin: auto; /* 這將會使得表單在頁面中間 */
    }

  

    .container {
        position: relative;
        z-index: 20; /* 高於雨滴效果的層級 */
    }
    p {
        color: black;
    }
</style>
@* <div id="rainy"></div> *@
<section class="vh-100">
      
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-6 col-xl-6">
                <div class="card text-black">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-7 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">登入系統</p>
                                <form class="mx-1 mx-md-4" method="post" action="@Url.Action("Login","Home")">
                                    <div class="mb-3">                                     
                                        <label for="inputEmail">帳號:</label>
                                        <input type="email" name="Email" id="inputEmail" class="form-control" value="" />                                      
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3">
                                        密碼:
                                        <input type="password" name="Password" id="inputPassword" class="form-control" value="" />
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <!-- First Column for the Register Button -->
                                            @*登入平台*@
                                            <div class="p-2">
                                                @Html.ActionLink("註冊", "Register", "Home", "", new { @class = "btn btn-outline-dark" })
                                                <input type="submit" value="登入" id="Login" class="btn btn-dark fw-bold" />
                                            </div>

                                            <div class=" p-2">
                                                <input type="button" class="btn btn-outline-dark" value="DemoMember" id="DemoMember" />
                                                <div class="mb-2"></div>
                                                <input type="button" class="btn btn-outline-dark" value="DemoAdministrator" id="DemoAdministrator" />
                                            </div>
                                            <script src="https://accounts.google.com/gsi/client" async defer></script>
                                            <div id="g_id_onload"
                                                 data-client_id="221032663442-n37m49mvle1prt4lk6d3rnc6689kp1k1.apps.googleusercontent.com"
                                                 data-login_uri="https://localhost:7078/Home/ValidGoogleLogin"
                                                 data-auto_prompt="false">
                                            </div>
                                            <div class="g_id_signin"
                                                 data-type="standard"
                                                 data-size="large"
                                                 data-theme="filled_blue"
                                                 data-text="sign_in_with"
                                                 data-shape="rectangular"
                                                 data-logo_alignment="left">
                                            </div>
                                            <div class="col">
                                                @Html.ActionLink("忘記密碼","ForgetPwd","Home")
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script>

        //一般會員登入
        $('#DemoMember').on('click', function () {
            let email = "gaytony@gmail.com"
            $('#inputEmail').val(email)
            $('#inputPassword').val("123")
        })
        //管理員登入
        $('#DemoAdministrator').on('click', function () {
            let email = "kevin@gmail.com"
            $('#inputEmail').val(email)
            $('#inputPassword').val("123")
        })
        window.onload = function () {
            var image = document.getElementById('rainy');
            if (image) {
                // 創建一個新的圖片對象，用於雨滴效果
                var img = new Image();
                img.onload = function () {
                    var engine = new RainyDay({
                        image: this
                    });
                    engine.rain([[3, 3, 0.1], [5, 5, 0.2]], 100);
                };
                img.crossOrigin = 'anonymous';
                img.src = '@Url.Content("~/assets/img/background/Rain.jpg")'; // 使用 ASP.NET Core 的 Url.Content 方法

                img.style.width = '100%';
                img.style.height = '100%';

                // 將圖片加入到 #rainy 容器中
                image.appendChild(img);
            }
        };
    </script>
}