@model prjMusicBetter.Models.ViewModels.LoginVM

@{
    ViewData["Title"] = "Login";
}


<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>


                                <form class="mx-1 mx-md-4" method="post"action="@Url.Action("Login","Home")">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            帳號:
                                            <input type="email" name="Email"id="inputEmail" class="form-control"value="" />
                                            @Html.ValidationMessageFor(model => model.Email,"",new{@class = "text-danger"})
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            密碼:
                                            <input type="password" name="Password"id="inputPassword" class="form-control" value="" />
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <!-- First Column for the Register Button -->
                                            <div class="col">
                                               @*  <a asp-area="" asp-controller="Home" asp-action="Register"
                                                   style="border: 1px solid #007bff; padding: 5px; display: inline-block; text-decoration: none; color: #007bff;
                                            transition: all 0.3s ease;">註冊</a> *@
                                            </div>
                                            <!-- Second Column for the Login Button -->
                                            <div class="col">
                                                @* <a asp-area="" asp-controller="Home" asp-action="Index"
                                                   style="border: 1px solid #007bff; padding: 5px; display: inline-block; text-decoration: none; color: #007bff;
                                                transition: all 0.3s ease;">登入</a> *@
                                            </div> 
                                            @*登入平台*@
                                            <div class="p-2">                                               
                                                @Html.ActionLink("註冊", "Register", "Home", "", new { @class = "btn btn-outline-dark" })
                                                <input type="submit" value="登入" id="Login" class="btn btn-dark fw-bold" />                                                                                            
                                            </div>
                                            <script src="https://accounts.google.com/gsi/client" async defer></script>
                                            <div id="g_id_onload"
                                                 data-client_id="221032663442-n37m49mvle1prt4lk6d3rnc6689kp1k1.apps.googleusercontent.com"
                                                 data-login_uri="https://localhost:7078/Home/ValidGoogleLogin"
                                                 data-auto_prompt="false">
                                            </div>
                                            <div class="g_id_signin"
                                                 data-type="standard"
                                                 data-size="large"
                                                 data-theme="filled_blue"
                                                 data-text="sign_in_with"
                                                 data-shape="rectangular"
                                                 data-logo_alignment="left">
                                            </div>

                                            <div class="  container col-12">
                                                <div class=" p-2 col-12">
                                                    <input type="button" class="btn btn-outline-secondary" value="DemoMember" id="DemoMember" />
                                                    <input type="button" class="btn btn-outline-secondary" value="DemoAdministrator" id="DemoAdministrator" />
                                                </div> 
                                            </div>
                                             <div class="p-2">
                                              <a asp-area="" asp-controller="Home" asp-action="ForgetPwd"
                                                   style="border: 1px solid #007bff; padding: 5px; display: inline-block; text-decoration: none; color: #007bff;
                                                transition: all 0.3s ease;">忘記密碼</a>
                                            </div> 
                                          
                                          

                                            @*暫定連結後台 *@
                                           @*  <div class="col">
                                                <a asp-area="" asp-controller="BgHome" asp-action="Index"
                                                   style="border: 1px solid #007bff; padding: 5px; display: inline-block; text-decoration: none; color: #007bff;
                                                transition: all 0.3s ease;">後台</a>
                                            </div> *@

                                            <div class="col">
                                               
                                               @* @Html.ActionLink("忘記密碼","ForgetPwd","Home")*@
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                    id="img" class="img-fluid"*@ alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

@section Scripts{
    <script>
        //一般會員登入 目前還沒設任何功能
        $('#DemoMember').on('click', function () {
            let email = "gaytony@gmail.com"
            $('#inputEmail').val(email)
            $('#inputPassword').val("123")
        })
        //管理員登入
        $('#DemoAdministrator').on('click', function () {
            let email = "kevin@gmail.com"
            $('#inputEmail').val(email)
            $('#inputPassword').val("123")
        })
    </script>
}