@model prjMusicBetter.Models.ViewModels.FMemberVM
@{
    ViewData["Title"] = "Login";
}
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


<body class="bg-gray-100">
    <div class="flex items-center justify-center min-h-screen bg-cover bg-center" style="background-image: url('https://img.freepik.com/free-photo/high-angle-view-crumpled-paper-with-stationery-black-background_23-2148080477.jpg?w=1380&t=st=1702971752~exp=1702972352~hmac=2c50bfe339112afc13c05171976711a990de818b82fa533225a364a6e6aedc17');">
        <div class="bg-white bg-opacity-60 rounded-2xl shadow-xl overflow-hidden w-full max-w-4xl mx-4">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="md:flex w-full">
                    <div class="w-full py-5 px-5 md:px-10">
                        <div class="text-center mb-5">
                            <h1 class="font-bold text-3xl text-gray-900">註冊</h1>
                        </div>
                        <div>
                            <div class="flex -mx-2">
                                <div class="w-full px-2 mb-3">
                                    <label for="" class="text-xs font-semibold px-1">Profile picture</label>
                                    <div class="flex justify-center">
                                        <form method="post" enctype="multipart/form-data" class="mx-1 mx-md-4">
                                            <div class="photo-button mb-3">
                                                <div class="flex justify-center">
                                                    <div class="w-24 h-24 mb-1 border rounded-full">
                                                        <img src="~/img/Member/default.jpg" class="w-full h-full" id="imgMember" width="96" height="96">
                                                        <input type="file" name="Photo" id="form-control" placeholder="Upload your profile picture" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flex -mx-2">
                                                <div class="w-full px-2 mb-3">
                                                    <label for="" class="text-xs font-semibold px-1">Username</label>
                                                    <div class="flex">
                                                        <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                                            <i class="fas fa-user text-gray-400 text-lg"></i>
                                                        </div>
                                                        <input type="text" id="fUsername" name="fUsername" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="Enter your username" />
                                                        @Html.ValidationMessageFor(member => member.fUsername, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="flex -mx-2">
                                                    <div class="w-full px-2 mb-3">
                                                        <label for="" class="text-xs font-semibold px-1">Name</label>
                                                        <div class="flex">
                                                            <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                                                <i class="fas fa-user text-gray-400 text-lg"></i>
                                                            </div>
                                                            <input type="text" id="fName" name="fName" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="Enter your name" />
                                                            @Html.ValidationMessageFor(member => member.fName, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="flex -mx-2">
                                                    <div class="w-full px-2 mb-3">
                                                        <label for="" class="text-xs font-semibold px-1">電子信箱</label>
                                                        <div class="flex">
                                                            <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                                                <i class="fas fa-envelope text-gray-400 text-lg"></i>
                                                            </div>
                                                            <input type="email" id="fEmail" name="fEmail" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="Enter your email" />
                                                            @Html.ValidationMessageFor(member => member.fEmail, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="flex -mx-2">
                                                    <div class="w-full px-2 mb-3">
                                                        <label for="" class="text-xs font-semibold px-1">電話</label>
                                                        <div class="flex">
                                                            <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                                                
                                                                <i class="fas fa-phone"></i>
                                                            </div>
                                                            <input type="text" id="fPhone" name="fPhone" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="Enter your phone number" />
                                                            @Html.ValidationMessageFor(member => member.fPhone, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="flex -mx-2">
                                                    <div class="w-full px-2 mb-3">
                                                        <label for="" class="text-xs font-semibold px-1">密碼</label>  
                                                        <div class="flex">
                                                            <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">                                                               
                                                                <i class="fas fa-lock"></i>
                                                            </div>
                                                            <input type="password" id="fPassword" name="fPassword" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="Enter your password" />
                                                                @Html.ValidationMessageFor(member => member.fPassword, "", new { @class = "text-danger" })                                                   
                                                        </div>                                                    
                                                    </div>                                                 
                                                </div>
                                            </div>
                                            <div>
                                                <div class="flex -mx-2">
                                                    <div class="w-full px-2 mb-3">
                                                        <label for="" class="text-xs font-semibold px-1">性別</label>
                                                        <div class="flex">
                                                            <div class="form-check form-check-inline">
                                                                <input class="mr-2" type="radio" name="fGender" id="genderFalse" value="False" checked>
                                                                <label class="text-sm font-medium text-gray-700 mr-4" for="genderFalse">
                                                                    男
                                                                </label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="mr-2" type="radio" name="fGender" id="genderTrue" value="True">
                                                                <label class="text-sm font-medium text-gray-700" for="genderTrue">
                                                                    女
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>                                               
                                                </div>
                                            </div>                                           
                                            <div>
                                                <div class ="flex -mx-2">
                                                    <div class="w-full px-2 mb-3">
                                                        <label for="" class="block mb-2 text-sm font-bold text-gray-700">生日</label>
                                                        <div class ="flex">
                                                            <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                                                <i class="fas fa-user text-gray-400 text-lg"></i>
                                                            </div>
                                                            <input type="date" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" value="" name="fBirthday" id="fBirthday" />
                                                            @*     @Html.ValidationMessageFor(member => member.fBirthday, "", new { @class = "text-danger" }) *@
                                                        </div>
                                                    </div>
                                                </div>
                                             
                                            </div>
                                        
                                            <div class="container">
                                                 <input type="checkbox" id="showPassword"> 顯示密碼
                                                 @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <div class="d-flex justify-content-between p-2">
                                                    <div class="p-2">
                                                        @Html.ActionLink("取消", "Login", "Home", "", new { @class = "btn btn-outline-dark fw-bold" })
                                                        <input type="submit" value="註冊" id="Login" class="btn btn-outline-dark fw-bold">
                                                        <input type="button" class="btn btn-outline-secondary" value="Demo" id="Demo" />
                                                    </div>
                                                    <div class="p-2">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>



@section Scripts {
    <script>
        //demo 測試
        $(document).ready(function () {
            $('#Demo').on('click', function () {
                $('#fUsername').val("Shiao");
                $("#fName").val("Shiao");
                $('#fEmail').val("shiao1124@gmail.com");
                $('#fPhone').val("0932456789");
                $('#fBirthday').val("1998-11-05");

            });

            $('#form-control').on('change', function () {
                const file = this.files;
                if (file.length === 0) {
                    let imgDefault = '@Url.Content("~/img/Member/default.jpg")';
                    $('#imgMember').attr('src', imgDefault);
                } else {
                    const url = URL.createObjectURL(file[0]);
                    $('#imgMember').attr('src', url);
                }
            });
        });

        const photo = document.querySelector('#photo')

        photo.addEventListener('change', () => {
            const file = photo.files
            if (file.length == 0) {
                let imgDefault = '@Url.Content("~/img/Member/default.jpg")'
                $('#imgMember').attr('src', imgDefault)
            }
            else {
                const url = URL.createObjectURL(file[0]);
                $('#imgMember').attr('src', url)
            }
        })
        function togglePassword() {
            let passwordInput = document.getElementById('password');
            let type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
        }
    </script>
}