@model prjMusicBetter.Models.ViewModels.FMemberVM
@{
    ViewData["Title"] = "Login";
}
<style>
    .vh-100 {
        background: url('@Url.Content("~/assets/img/background/rain.jpg")') no-repeat center center fixed;
      
    }

    .card {
        background: rgba(255, 255, 255, 0.5); /* 半透明背景 */
        border-radius: 15px; /* 边框圆角 */
        margin: auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 盒子阴影
                                }
                        .form-control {
                            border-radius: 5px; /* 更细微的圆角 */
        border: 1px solid #ccc;
        padding: 10px;
        height: auto; /* 或者具体的高度，根据需要调整 */
    }


    .btn-dark {
        width: 100%; /* 讓按鈕寬度與輸入框相匹配 */
        padding: 10px;
        margin-top: 10px; /* 在按鈕上方增加間隙 */
    }



    .custom-form-container {
        max-width: 600px; /* 或者您希望的任何數值 */
        margin: auto; /* 這將會使得表單在頁面中間 */
    }

    .card-container {
        max-width: 400px; /* 或者您需要的宽度 */
        margin: auto; /* 水平居中 */
    }
    p{
        color:black;
        font-size:20px;
    }
    /* 確保標籤和輸入框都使用flex布局並對齊 */
    .d-flex.align-items-center {
        display: flex;
        align-items: center;
    }

    .width-50px {
        width: 130px; /* 根据您的具体需要調整寬度 */
        min-width: 130px; /* 確保標籤不會因為響應式布局而變得太窄 */
        margin-right: 10px; /* 添加適當的間距 */
    }

    .form-control {
        flex: 1; /* 使輸入框填滿剩餘空間 */
    }
    /* 以下CSS用於對齊標籤和輸入框 */
    .form-outline {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
</style>
<section class="" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-1 col-lg-6  order-2 order-lg-1">
                                <p class="text-center h1 fw-bold @*mb-5*@ mx-1 mx-md-4 mt-4">Register</p>
                                <form method="post" enctype="multipart/form-data" class="mx-1 mx-md-4">

                                    <div class="photo-button mb-3">
                                        <div class="photo-card mb-2 d-flex justify-content-center">
                                            <div class="photo">
                                                <img src="~/img/Member/default.jpg" class="circle-size-300" id="imgMember" width="450" height="330">
                                                <input type="file" name="Photo" id="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class=" width-50px  fw-bold">使用者姓名</div>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" id="fUsername" name="fUsername" class="form-control" placeholder="請輸入使用者姓名" />
                                            @Html.ValidationMessageFor(member => member.fUsername, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class=" width-50px  fw-bold">姓名</div>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" id="fName" name="fName" class="form-control" placeholder="請輸入姓名" />
                                            @Html.ValidationMessageFor(member => member.fName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class=" width-50px  fw-bold">電子信箱</div>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" id="fEmail" name="fEmail" class="form-control" placeholder="請輸入電子郵箱" />
                                            @Html.ValidationMessageFor(member => member.fEmail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class=" width-50px  fw-bold">電話</div>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" id="fPhone" name="fPhone" class="form-control" placeholder="請輸入電話" />
                                            @Html.ValidationMessageFor(member => member.fPhone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class=" width-50px  fw-bold">密碼</div>
                                        <div class="form-outline flex-fill mb-0">                                         
                                            <input type="password" id="fPassword" name="fPassword" class="form-control" placeholder="請輸入密碼" />
                                            @Html.ValidationMessageFor(member => member.fPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>                               
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-form-label">性別</div>
                                        <div class="col-sm-8">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="fGender" id="genderFalse" value="False" checked>
                                                <label class="form-check-label" for="genderFalse">
                                                    男
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="fGender" id="genderTrue" value="True">
                                                <label class="form-check-label" for="genderTrue">
                                                    女
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fBirthday" class="col-sm-4 col-form-label">生日</label>
                                        <div class="col-sm-8">
                                            <input type="date" class="form-control" value="" name="fBirthday" id="fBirthday" />
                                        @*     @Html.ValidationMessageFor(member => member.fBirthday, "", new { @class = "text-danger" }) *@
                                        </div>
                                    </div>
                                    <div class="container">
                                        <input type="checkbox" id="showPassword"> 顯示密碼
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="d-flex justify-content-between p-2">
                                            <div class="p-2">
                                                @Html.ActionLink("取消", "Login", "Home", "", new { @class = "btn btn-outline-dark fw-bold" })
                                                <input type="submit" value="註冊" id="Login" class="btn btn-outline-dark fw-bold">
                                                <input type="button" class="btn btn-outline-secondary" value="Demo" id="Demo" />
                                            </div>
                                            <div class="p-2">                                                                                       
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        //demo 測試
        $(document).ready(function () {
            $('#Demo').on('click', function () {
                $('#fUsername').val("Shiao");
                $("#fName").val("Shiao");
                $('#fEmail').val("shiao1124@gmail.com");
                $('#fPhone').val("0932456789");
                $('#fBirthday').val("1998-11-05");

                // 如果需要可以取消註釋這行，設置密碼
                // $('#fPassword').val("123");
            });

            $('#form-control').on('change', function () {
                const file = this.files;
                if (file.length === 0) {
                    let imgDefault = '@Url.Content("~/img/Member/default.jpg")';
                    $('#imgMember').attr('src', imgDefault);
                } else {
                    const url = URL.createObjectURL(file[0]);
                    $('#imgMember').attr('src', url);
                }
            });
        });

        const photo = document.querySelector('#photo')

        photo.addEventListener('change', () => {
            const file = photo.files
            if (file.length == 0) {
                let imgDefault = '@Url.Content("~/img/Member/default.jpg")'
                $('#imgMember').attr('src', imgDefault)
            }
            else {
                const url = URL.createObjectURL(file[0]);
                $('#imgMember').attr('src', url)
            }
        })
        //顯示密碼
        // $(document).ready(function () {
        //     $('#showPassword').in('change', function () {
        //         var passwordInput = $('#fPassword');

        //         if ($(this).is(':check')) {
        //             passwordInput.attr('type', 'text');

        //         }
        //         else {
        //             passwordInput.attr('type', 'password');

        //         }
        //     })
        // })
    </script>
}