@model prjMusicBetter.Models.ViewModels.FMemberVM
@{
    ViewData["Title"] = "Login";
}

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold @*mb-5*@ mx-1 mx-md-4 mt-4">Register</p>


                                <form method="post" enctype="multipart/form-data"class="mx-1 mx-md-4">

                                    <div class="photo-button mb-3">
                                        <div class="photo-card mb-2 d-flex justify-content-center">
                                            <div class="photo">
                                                <img src="~/img/Member/default.jpg" class="circle-size-300"id="imgMember">
                                                <input type="file" name="Photo"id="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class=" width-50px  fw-bold">帳號</div>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" id="fUsername" name="fUsername" class="form-control" placeholder="請輸入帳號" />
                                            @Html.ValidationMessageFor(member => member.fUsername, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class=" width-50px  fw-bold">帳號</div>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" id="fName" name="fName" class="form-control" placeholder="請輸入帳號" />
                                            @Html.ValidationMessageFor(member=>member.fName,"",new{@class="text-danger"})
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class=" width-50px  fw-bold">電子信箱</div>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" id="fEmail" name="fEmail" class="form-control" placeholder="請輸入電子郵箱" />
                                            @Html.ValidationMessageFor(member=>member.fEmail,"",new{@class="text-danger"})
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class=" width-50px  fw-bold">電話</div>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" id="fPhone" name="fPhone" class="form-control" placeholder="請輸入電話" />
                                            @Html.ValidationMessageFor(member => member.fPhone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class=" width-50px  fw-bold">密碼</div>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" id="fPassword" name="fPassword" class="form-control" placeholder="請輸入密碼" />
                                            @Html.ValidationMessageFor(member=>member.fPassword,"",new{@class="text-danger"})
                                        </div>
                                    </div>
                                  @*   <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class=" width-50px  fw-bold">確定密碼</div>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" id="ComfirmPassword" name="ComfirmPassword" class="form-control" placeholder="請重新輸入密碼" />
                                            <span asp-validation-for="ComfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div> *@
                                    <div class="pt-2 d-flex align-items-baseline">
                                        <div class=" width-50px  fw-bold">性別</div>
                                        <div class="mx-3 d-flex">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="fGender" id="genderFalse" value="False" checked>
                                                <label class="form-check-label" for="genderFalse">
                                                    男
                                                </label>
                                            </div>
                                            <div class="form-check ">
                                                <input class="form-check-input" type="radio" name="fGender" id="genderTrue" value="True">
                                                <label class="form-check-label" for="genderTrue">
                                                    女
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pt-2 d-flex col-6 align-items-center">
                                        <div class=" width-50px  fw-bold">生日</div>
                                        <div class="mx-3 d-flex">
                                            <input type="date" class="form-control" value="" name="fBirthday" id="memberfBirthday" />
                                            @Html.ValidationMessageFor(member=>member.fBirthday,"",new{@class="text-danger"})
                                        </div>
                                    </div>
                                    <div class="container">
                                        <input type="checkbox" id="showPassword"> 顯示密碼
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="d-flex justify-content-between p-2">
                                            <div class="p-2">
                                            </div>
                                            <div class="p-2">
                                                <input type="button" class="btn btn-outline-secondary" value="Demo" id="Demo" />
                                                <input type="submit" value="註冊" id="Login" class="btn btn-dark fw-bold">
                                                @Html.ActionLink("取消", "Login", "Home", "", new { @class = "btn btn-outline-dark fw-bold" })
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                @*class="img-fluid"*@ alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        const photo = document.querySelector('#photo')

        photo.addEventListener('change', () => {
            const file =photo.files
            if (file.length == 0) {
                let imgDefault = '@Url.Content("~/img/Member/default.jpg")'
                $('#imgMember').attr('src', imgDefault)
            }
            else {
                const url = URL.createObjectURL(file[0]);
                $('#imgMember').attr('src',url)
            }
        })

    </script>

}